// =============================================================================
// General fonts
// =============================================================================

@font-face {
  font-family: OpenSans-Light;
  src: url(../../fonts/OpenSans-Light.woff);
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(../../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Ubuntu;
  src: url(../../fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: Questrial;
  src: url(../../fonts/Questrial-Regular.otf) format("opentype");
}

@font-face {
  font-family: RobotoSlab-Regular;
  src: url(../../fonts/RobotoSlab-Regular.ttf);
}

@font-face {
  font-family: FontAwesome;
  src: url(../../fonts/font-awesome.ttf);
  font-weight: normal;
  font-style: normal;
}

// =============================================================================
// Japanese fonts
// =============================================================================

@font-face {
  font-family: TakaoPGothic;
  src: url(../../fonts/TakaoPGothic.ttf);
}

@font-face {
  font-family: TakaoPMincho;
  src: url(../../fonts/TakaoPMincho.ttf);
}

// =============================================================================
// Chinese fonts
// =============================================================================

@font-face {
  font-family: SourceHanSansCN-Normal;
  src: url(../../fonts/SourceHanSansCN-Normal.otf);
}

@font-face {
  font-family: MicrosoftYaHei;
  src: url(../../fonts/MicrosoftYaHei.ttf);
}

@font-face {
  font-family: SimSun;
  src: url(../../fonts/SimSun.ttf);
}

@font-face {
  font-family: KaiTi;
  src: url(../../fonts/KaiTi.ttf);
}

// =============================================================================
// Cursor loading
// =============================================================================

// =============================================================================
// Background images
// =============================================================================
