// =============================================================================
// Fonts
// =============================================================================

@font-face {
  font-family: OpenSans-Light;
  src: url(../fonts/OpenSans-Light.woff);
}

@font-face {
  font-family: TakaoPGothic;
  src: url(../fonts/TakaoPGothic.ttf);
}

@font-face {
  font-family: Questrial;
  src: url(../fonts/Questrial-Regular.otf) format("opentype");
}

$font: TakaoPGothic, Helvetica, Verdana, sans-serif;
$light-font: OpenSans-Light;
$header-font: Questrial;
$button-font: $header-font;
$small-font: Arial;

// =============================================================================
// Cursors
// =============================================================================

$normal-cursor: url(../img/test_cursor.png), auto;
$pointer-cursor: url(../img/test_cursor.png), pointer;

