@import "variables";
@import "layers";

@import "views";
@import "buttons";
@import "widgets";
@import "inputs";

* {
  font-family: $font;
  font-size: 100%;
  color: $color;
  cursor: $normal-cursor;
  &::selection {
    color: $select-color;
    background: $select-background;
  }
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    padding: 5px;
    margin: 5px;
  };
  &::-webkit-scrollbar-track {
    background-color: darken($view-background, 10%);
  }
  &::-webkit-scrollbar-thumb {
    background-color: darken(lightcoral, 5%);
    &:hover {
      background-color: darken(lightcoral, 10%);
    }
    &:active {
      background-color: darken(lightcoral, 15%);
    }
  };
  // &::-webkit-scrollbar-button {
  //   width: 10px;
  //   height: 10px;
  //   background-color: lightcoral;
  //   color: white;
  // };
}

body {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#partitioned-window {
  display: flex;
  flex-direction: column;

  #header-frame {
    display: flex;
    flex-direction: row;
    background-color: #dddddd;
    padding: 3px;

    #header {
      color: dimgray;
      flex: 1;
      font-size: 130%;
      display: flex;
      align-items: center;
      font-family: $gui-font;
      margin-left: 10px;
    }
    #close-button {
      display: flex;
      flex-direction: row;

      > i {
        margin-right: 5px;
        color: lightcoral;
        opacity: 0.4;
        font-size: 160%;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  #main-frame {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;

    > *:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  #button-frame {
    display: flex;
    flex-direction: row;
  }
}

.kanji-info-link {
  &:hover {
    text-shadow: 0 0 2px lightsalmon;
    color: darkred;
  }
}

.note {
  color: gray;
  font-size: 80%;
  font-family: Arial; // TODO
  margin-top: 3px;
}
