@import "assets";
@import "design";
@import "layers";
@import "spinners";

@import "dynamic";
@import "tooltip";
@import "views";
@import "buttons";
@import "widgets";
@import "inputs";

@import "mixins";

* {
  font-family: var(--main-font);
  user-select: none;

  &::selection {
    color: $select-color;
    background: $select-background;
  }
  &::-webkit-scrollbar {
    width: $scrollbar-width;
    height: $scrollbar-width;
  };
  &::-webkit-scrollbar-track {
    background-color: $scrollbar-track-background;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-background;
    &:hover {
      background-color: $scrollbar-thumb-background-hover;
    }
    &:active {
      background-color: $scrollbar-thumb-background-active;
    }
  }
}

:host {
  cursor: $default-cursor;
}

body {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: $color;
}

#partitioned-window {
  display: flex;
  flex-direction: column;

  #header-frame {
    display: flex;
    flex-direction: row;
    background-color: $background-color-dark;
    padding: 3px;

    #header {
      color: dimgray;
      flex: 1;
      font-size: 130%;
      display: flex;
      align-items: center;
      font-family: $light-font;
      margin-left: 10px;
    }
    #close-button {
      @extend button.red-icon;
      font-size: 160%;
      margin-right: 5px;
    }
  }

  #main-frame {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;

    > *:not(:last-child) {
      margin-bottom: 10px;
    }
    > hr {
      margin-top: 4px;
      margin-bottom: 14px;
    }
  }

  #button-frame {
    display: flex;
    flex-direction: row;
  }
}

.kanji-info-link {
  --tooltip-delay: 0.4s;
  &:hover {
    text-shadow: 0 0 2px $link-shadow-color-hover;
    color: $link-color-hover;
  }
  cursor: $pointer-cursor;
}

a[href] {
  text-decoration: none;
  color: $http-link-color;
  &:hover {
    text-decoration: underline;
    color: $http-link-color-hover;
  }
}

a:not([href]) {
  @extend button;
  @extend button.link;
}

.info {
  color: $info-color;
}

.note {
  color: $color-light;
  font-size: 80%;
  font-family: $small-font;
  margin-top: 3px;
}

.contrast {
  color: $contrast-font-color;
  text-shadow: $contrast-text-shadow;
}

.flex-spacer {
  flex: 1;
}

hr {
  border: 0px;
  height: 1px;
  background-color: $border-color-medium;
  background-clip: content-box;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 0;
  margin-right: 0;

  &.fading-both {
    $bc: $border-color-medium;
    background-color: transparent;
    background-image: linear-gradient(to right,
      transparent, $bc, $bc, $bc, $bc, $bc, $bc, $bc, transparent);
  }
  
  &.fading, &.fading-right {
    $bc: $border-color-medium;
    background-color: transparent;
    background-image: linear-gradient(to right, $bc, $bc, transparent);
  }
  
  &.hidden {
    visibility: hidden;
  }
}

.draggable {
  cursor: $grab-cursor;
}

.dragging {
  cursor: $dragging-cursor;
}

.radiobutton-row {
  .description {
    display: inline-block;
    margin-right: 30px;
  }
  .option:not(:last-child) {
    display: inline-block;
    margin-right: 30px;
  }
}

.pulsating-triple-dots {
  > div {
    background-color: $color;
  }
}

#search-info, #no-search-results-info {
  @include center-content;
  flex: 1;
  background-color: $background-color-dark;
  height: 100%;

  > * {
    line-height: 150%;
    color: $color;
    font-size: 150%;
    font-family: $light-font;
    text-align: center;
  }
}

// =============================================================================
// Font awesome icon position adjustment
// =============================================================================

.fa.fa-plus {
  @include justify($top: 1px);
}

.fa.fa-search {
  @include justify($top: -3px);
}

.fa.fa-settings {
  @include justify($top: -2px);
}
