@import "mixins";

button {
  @include center-content;
  background-color: transparent;
  padding: 0px;
  border: 0px;
  color: inherit;
  font-size: inherit;

  &:focus {
    outline: none !important;
    z-index: 1000;
  }
}

button.styled {
  color: $button-color;
  background-color: $button-background;
  padding: 4px;
  font-size: 120%;
  border: 1px solid $button-border-color;

  &:focus {
    box-shadow: 0 0 5px 3px $button-shadow-color-focus;
  }
  &:hover {
    color: $button-color-hover;
    background-color: $button-background-hover;
  }
  &:active {
    box-shadow: inset 0 0 8px 4px $button-shadow-color-active;
    background-color: $button-background-active;
    color: $button-color-active;
  }
  &:disabled {
    background-color: $button-background-disabled;
    color: $button-color-disabled;
  }
}

button.rounded {
  border-radius: 3px;
}

button.light {
  padding: 10px;
  font-size: 120%;
  color: $button-light-color;
  font-family: $header-font;

  > i {
    color: $button-light-icon-color;
  }
  &:hover {
    color: $button-light-color-hover;
    text-shadow: 0 0 1px $button-light-color;
    > i {
      color: $button-light-icon-color-hover;
    }
  }
  &:focus {
    box-shadow: 0 0 3px $button-shadow-color-focus;
  }
  &:active {
    box-shadow: inset 0px 2px 13px -2px $button-light-shadow-color-active;
  }
}

button.no-shadow {
  &:active {
    box-shadow: none;
  }
}

button.link {
  color: $link-color;
  &:hover {
    text-shadow: 0 0 2px $link-shadow-color-hover;
    color: $link-color-hover;
  }
  text-decoration: underline;
}

.button-bar {
  border-top-width: 1px;
  border-top-style: solid;
  width: 100%;
  display: flex;
  flex-direction: row;

  > button {
    border: 0;
    flex: 1;

    &:not(:last-child) {
      border-right-width: 1px;
      border-right-style: solid;
    }
  }
}

.styled-button-bar {
  @extend .button-bar;
  border-color: $button-border-color;
  > button {
    @extend button.styled;
    border-color: $button-border-color;
  }
}

.light-button-bar {
  @extend .button-bar;
  border-color: $border-color-dark;
  > button {
    @extend button.light;
    border-color: $border-color-dark;
  }
}
