@import "mixins";

button {
  @include center-content;
  background-color: transparent;
  padding: 0px;
  border: 0px;
  color: inherit;
  font-size: inherit;
  cursor: $pointer-cursor;
  display: inline-block;

  &:focus {
    outline: none !important;
    z-index: 1000;
    box-shadow: $button-focus-shadow;
  }
}

button.styled {
  color: $button-color;
  background-color: $button-background;
  padding: 4px;
  border: 1px solid $button-border-color;
  font-family: $button-font;
  font-size: 120%;

  &:hover {
    color: $button-color-hover;
    background-color: $button-background-hover;
  }
  &:active {
    box-shadow: inset 0 0 8px 4px $button-shadow-color-active;
    background-color: $button-background-active;
    color: $button-color-active;
  }
}

button.rounded {
  border-radius: 3px;
}

button.light {
  padding: 10px;
  color: $button-light-color;
  font-family: $button-font;
  font-size: 120%;

  * {
    pointer-events: none;
  }
  i {
    color: $button-light-icon-color;
  }
  &:hover {
    color: $button-light-color-hover;
    text-shadow: 0 0 1px $button-light-icon-color-lightest;
    i {
      color: $button-light-icon-color-hover;
    }
  }
  &:focus {
    box-shadow: $button-focus-shadow;
  }
  &:active {
    box-shadow: inset 0px 2px 13px -2px $button-light-shadow-color-active;
  }
}

button.red-icon {
  i {
    pointer-events: none;
    color: $close-button-color;
    opacity: 0.5;
  }
  &:hover > i {
    opacity: 1;
  }
}

button.lightest {
  @extend button.light;
  color: $button-light-icon-color;
  i {
    color: $button-light-icon-color-lightest;
  }
}

button.no-shadow {
  &:active {
    box-shadow: none;
  }
}

button.link {
  color: $link-color;
  &:hover {
    text-shadow: 0 0 2px $link-shadow-color-hover;
    color: $link-color-hover;
  }
  text-decoration: underline;
}

.button-bar {
  border-top-width: 1px;
  border-top-style: solid;
  width: 100%;
  display: flex;
  flex-direction: row;

  > button {
    border: 0;
    flex: 1;

    &:not(:last-child) {
      border-right-width: 1px;
      border-right-style: solid;
    }
  }
}

.styled-button-bar {
  @extend .button-bar;
  border-color: $button-border-color;
  > button {
    @extend button.styled;
    border-color: $button-border-color;
  }
}

.light-button-bar {
  @extend .button-bar;
  border-color: $border-color-dark;
  > button {
    @extend button.light;
    border-color: $border-color-dark;
  }
}

button.simple {
  padding: 6px;
  border: 1px solid $border-color-medium;
  border-radius: 3px;
  font-family: $button-font;
  font-size: 120%;

  &:hover {
    border: 1px solid $border-color-dark;
    box-shadow: 0 0 3px $border-color-medium;
    color: $color-dark;
  }
  &:active {
    box-shadow: inset 0px 2px 13px -2px $button-light-shadow-color-active;
  }
  &:focus:not(:hover) {
    box-shadow: none;
  }
  &.highlighted {
    color: $highlight-background;
    border-color: $highlight-background;
    &:hover {
      color: darken($highlight-background, 5%);
      border-color: darken($highlight-background, 5%);
      box-shadow: 0 0 3px $highlight-background;
    }
    &:active {
      box-shadow: inset 0px 2px 13px -2px $button-light-shadow-color-active;
    }
  }
}
