@import "panel";

#partitioned-window > #main-frame {
  padding-top: 5px;
  padding-bottom: 5px;

  > *:not(:last-child) {
    margin-bottom: 1px;
  }
}

.detail-row {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.detail-row-list-wrapper {
  flex: 1;
  overflow: auto;
}

.detail-row-header {
  @extend .light-item-view-header;
  padding: 0px;  // To save space
  padding-bottom: 2px;
}

.detail-row-list {
  @extend .light-item-view;
  display: inline;
  padding: 0;  // Doesn't work well for inline items (add to wrapper if needed)
  font-family: $vocab-font;

  > * {
    line-height: 1rem;  // Strip fonts from built-in padding
  }
}

.add-button {
  @extend button.lightest;
  @extend button.no-shadow;
  padding: 3px;
}
