@import "base";

#window {
  @include center-content;
  height: 100%;
  background-color: $section-background;
}

#partitioned-window {
  width: 80%;
  padding: 10px;
  background-color: $background-color;
  box-shadow: $wide-shadow;
}

#button-frame {
  justify-content: flex-end;
  padding: 10px;
  
  > button {
    padding: 5px;
  }
}
