@import "base";

#window {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#partitioned-window {
  width: 80%;
  background-color: whitesmoke;
  border: 1px solid dimgray;
  box-shadow: 1px 1px 3px black;
}

#button-frame {
  justify-content: flex-end;
  padding: 10px;
  
  > button {
    padding: 5px;
  }
}
