@import "base";

#window {
  @include center-content;
  height: 100%;
  background-color: $section-background;
}

#partitioned-window {
  width: 550px;
  padding: 10px;
  background-color: $background-color;
  box-shadow: $wide-shadow;
  border-radius: 5px;
}

#button-frame {
  justify-content: flex-end;
  padding: 10px;
  
  > button {
    padding: 8px;
    font-size: 1.2rem;
  }
}
