textarea {
  color: $view-color;
  background-color:  darken($view-background, 5%);
  padding: 5px;
  border: 1px solid dimgray;
  resize: none;
  transition: .2s;
  transition: box-shadow .2s, border .2s;
  box-shadow: inset 0 1px 10px -5px black;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px dimgray;
    background-color: $view-background;
  }
  &:placeholder-shown {
    color: lighten($view-color, 30%);
  }
}

input {
  color: $view-color;
  background-color: $view-background;
  padding: 5px;
  border: 1px solid dimgray;
  transition: box-shadow .2s, border .2s;
  box-shadow: inset 0 1px 10px -5px black;

  &:focus {
    outline: none !important;
    // box-shadow: inset 0 1px 10px -5px var(--inner-shadow-color, black);;
    box-shadow: 0 0 5px var(--outer-shadow-color, dimgray);
    border: 1px solid darkred;
    background-color: $view-background;
  }
  &:placeholder-shown {
    color: lighten($view-color, 30%);
  }
}

select {
  border: 1px solid dimgray;
  padding: 3px;
  font-size: 110%;
  line-height: 100px;
  transition: box-shadow .2s, background-color .2s;
  background-color: darken($view-background, 5%);
  &:focus {
    outline: none !important;
    box-shadow: 0 0 5px dimgray;
    background-color: $view-background;
  }
  &:hover {
    border-color: darkred;
  }
  option:first-child {
    color: lighten($view-color, 30%);
  }
  &.empty {
    color: lighten($view-color, 30%);
  }
}

check-box {
  &:focus {
    box-shadow: 0 0 5px crimson;
    border: 1px solid darkred;
  }
  &:hover {
    border: 1px solid darkred;
  }
}
