textarea {
  padding: 0px;
  border: 0px;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  resize: none;

  &:focus {
    outline: none;
  }
}

textarea.styled {
  background-color: $input-background;
  color: $input-color;
  font-size: 100%;
  padding: 5px;
  border: 1px solid $input-border-color;
  transition: box-shadow .2s, border .2s;
  box-shadow: $input-inset-shadow;

  &:focus {
    box-shadow: $input-shadow;
    background-color: $input-background-focus;
    color: $input-color-focus;
  }
  &:not(:focus):hover {
    background: $input-background-hover;
    color: $input-color-hover;
  }
  &::placeholder {
    color: $input-color-placeholder;
  }
}

input {
  padding: 0px;
  border: 0px;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;

  &:focus {
    outline: none;
  }
}

input.styled {
  color: $input-color;
  background-color: $input-background;
  padding: 5px;
  font-size: 120%;
  border: 1px solid $input-border-color;
  transition: box-shadow .2s, border .2s;
  box-shadow: $input-inset-shadow;

  &:focus {
    box-shadow: $input-shadow;
    background-color: $input-background-focus;
    color: $input-color-focus;
  }
  &:not(:focus):hover {
    background: $input-background-hover;
    color: $input-color-hover;
  }
  &::placeholder {
    color: $input-color-placeholder;
  }
}

input.trench {
  color: $view-color;
  background-color: $input-background-focus;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: $input-inset-shadow;

  &:focus {
    box-shadow: $input-shadow;
  }
  &::placeholder {
    color: $input-color-placeholder;
  }
}

input.light {
  color: $input-color;
  padding: 5px;

  &:placeholder-shown {
    color: $input-color-placeholder;
  }
}

input.inline-edit {
  color: $input-color;
  padding: 2px;
  width: 100%;
  box-sizing: border-box;
  &:focus {
    box-shadow: $input-shadow;
    background-color: $input-background-focus;
  }
}

select {
  border: 1px solid $input-border-color;
  padding: 3px;
  font-size: 110%;
  line-height: 100px;
  transition: box-shadow .2s, background-color .2s;
  background-color: $input-background;

  &:focus {
    outline: none !important;
    box-shadow: $input-shadow;
    background-color: $input-background-focus;
  }
  &:hover {
    background-color: $input-background-hover;
  }
  option:first-child[value=""] {
    color: $input-color-placeholder;
  }
}


check-box {
  &:focus {
    box-shadow: 0 0 5px $highlight-background;
    border: 1px solid $highlight-background;
  }
  &:hover {
    border: 1px solid $highlight-background;
  }
}
