textarea {
  padding: 0px;
  border: 0px;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  resize: none;

  &:focus {
    outline: none;
  }
}

textarea.styled {
  background-color: $input-background;
  color: $input-color;
  font-size: 100%;
  padding: 5px;
  border: 1px solid $input-border-color;
  transition: box-shadow .2s, border .2s;
  box-shadow: $input-inset-shadow;

  &:focus {
    box-shadow: $input-shadow;
    background-color: $input-background-focus;
    color: $input-color-focus;
  }
  &:not(:focus):hover {
    background: $input-background-hover;
    color: $input-color-hover;
  }
  &::placeholder {
    color: $input-color-placeholder;
  }
}

input {
  padding: 0px;
  border: 0px;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;

  &:focus {
    outline: none;
  }
}

input.styled {
  color: $input-color;
  background-color: $input-background;
  padding: 5px;
  font-size: 120%;
  border: 1px solid $input-border-color;
  box-shadow: $input-inset-shadow;

  &::placeholder {
    color: $input-color-placeholder;
  }
  &:hover {
    border-color: $input-border-color-hover;
    background: $input-background-hover;
    color: $input-color-hover;
    &::placeholder {
      color: $input-color;
    }
  }
  &:focus {
    box-shadow: none;
    border-color: $input-border-color-focus;
    background-color: $input-background-focus;
    color: $input-color-focus;
  }
}

input.trench {
  color: $view-color;
  background-color: $view-background-medium;
  border: 1px solid $border-color-light;
  border-radius: 5px;
  box-shadow: $input-inset-shadow;

  &::placeholder {
    color: $input-color-placeholder;
  }
  &:hover {
    border-color: $input-border-color-hover;
    color: $input-color-hover;
    &::placeholder {
      color: $input-color;
    }
  }
  &:focus {
    box-shadow: none;
    border-color: $input-border-color-focus;
    background-color: $view-background;
    color: $input-color-focus;
  }
}

input.light {
  color: $input-color;
  padding: 5px;

  &:placeholder-shown {
    color: $input-color-placeholder;
  }
}

span.select {
  display: inline-block;
}
.select {
  > select {
    appearance: none;
  }
  // Custom arrow
  position: relative;
  &::after {
    content: " ";
    display: block;
    position: absolute;
    right: 1rem;
    top: calc(50% - 0.5rem);
    width: 0.5rem;
    height: 0.5rem;
    border: 2px solid $border-color-dark;
    border-right: 0;
    border-top: 0;
    pointer-events: none;
    transform: rotate(-45deg);
  }
}

select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid $input-border-color;
  background-color: $input-background;
  font-size: 110%;
  color: inherit;

  &:hover {
    border-color: $input-border-color-hover;
    background-color: $input-background-hover;
  }
  &:focus {
    outline: none !important;
    border-color: $input-border-color-focus;
    background-color: $input-background-focus;
  }
  option {
    background-color: $view-background;
    color: $view-color;

    &:first-child[value=""] {
      color: $input-color-placeholder;
    }
    // One can style selection, but not hovering (JS doesn't work either)
    // &:checked {
    //   background-color: $view-select-background;
    //   color: $view-select-color;
    // }
  }
}


check-box {
  box-shadow: none;
  background-color: $input-background;
  border-color: $border-color-dark;
  color: $color-light;

  &:not(.light) {
    &:focus {
      box-shadow: 0 0 5px $highlight-shadow-color;
      border-color: $input-border-color-focus;
    }
    &:hover {
      border-color: $border-color-darkest;
      background-color: $input-background-hover;
    }
  }
}
