@mixin center-content($direction: "both") {
  display: flex;
  @if $direction == "vertical" {
    flex-direction: row;
    align-items: center;
  } @else if $direction == "horizontal" {
    flex-direction: column;
    align-items: center;
  } @else if $direction == "both" {
    align-items: center;
    justify-content: center;
  }
}

@mixin fading-border($color, $direction: "vertical") {
  border-style: solid;
  @if $direction == "vertical" {
    border-image: linear-gradient(to top, transparent, $color, transparent) 1 1%;
  } @else if $direction == "horizontal" {
    border-image: linear-gradient(to left, transparent, $color, transparent) 1 1%;
  } @else if $direction == "to left" {
    border-image: linear-gradient(to left, $color, transparent) 1 1%;
  } @else if $direction == "to right" {
    border-image: linear-gradient(to right, $color, transparent) 1 1%;
  } @else if $direction == "to top" {
    border-image: linear-gradient(to top, transparent, $color) 1 1%;
  } @else if $direction == "to bottom" {
    border-image: linear-gradient(to bottom, $color, transparent) 1 1%;
  }
}

@mixin justify($top: 0px, $left: 0px) {
  position: relative;
  top: $top;
  left: $left;
}

@mixin x-shape($size: 90%, $thickness: 3px, $roundness: 2px, $color: inherit) {
  position: relative;
  display: inline-block;

  &::before, &::after {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform-origin: center center;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    background-color: $color;
    border-radius: $roundness;
  }
  &::before {
    height: $size;
    width: $thickness;
  }
  &::after {
    height: $thickness;
    width: $size;
  }
}

@mixin plus-shape(
    $size: 90%, $thickness: 3px, $roundness: 2px, $color: inherit) {
  position: relative;
  display: inline-block;

  &::before, &::after {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform-origin: center center;
    transform: translateX(-50%) translateY(-50%);
    background-color: $color;
    border-radius: $roundness;
  }
  &::before {
    height: $size;
    width: $thickness;
  }
  &::after {
    height: $thickness;
    width: $size;
  }
}

@mixin fade-content-at-edges($background-color, $transition-duration: 0.15s) {
  &::before {
    top: 0;
    height: var(--top-shadow-height, 0px);
    background: linear-gradient(to bottom, $background-color, transparent);

    content: "";
    position: absolute;
    left: 0;
    right: $scrollbar-width + 2 * $scrollbar-padding;
    transition-property: background;
    transition-duration: $transition-duration;
    z-index: 1;  // Show up above the actual content despite being in front
  }
  &::after {
    bottom: 0;
    height: var(--bottom-shadow-height, 0px);
    background: linear-gradient(to top, $background-color, transparent);

    content: "";
    position: absolute;
    left: 0;
    right: $scrollbar-width + 2 * $scrollbar-padding;
    transition-property: background;
    transition-duration: $transition-duration;
  }
}
