@import "base";

#partitioned-window {
  height: 100%;

  #header-frame {
    padding: 0px;
    height: $panel-header-height;

    #header {
      font-size: 165%;
    }
    #close-button {
      font-size: 300%;
      margin-right: 15px;
      line-height: 40px;
      margin-top: -3px;  // Workaround to account for uneven glyph-margin at top

      > i {
        line-height: 40px;
      }
    }
  }

  #main-frame {
    padding: 15px;

    > *:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  #button-frame {
    @extend .styled-button-bar;

    > button {
      height: 50px;
    }
    #prev-item-button, #next-item-button {
      max-width: 30px;
      --tooltip-delay: 0.4s;
      // Use flexbox to center tooltip
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
