@import "base";

.settings-list {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: auto;

  > :not(:last-child) {
    margin-bottom: 20px;
  }

  check-box {
    margin-right: 10px;

    &.radiobutton {
      margin-right: 5px;
    }
  }
}

.keyboard-shortcut {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid $border-color-medium;
  background-color: $input-background;

  &:hover {
    background-color: $input-background-hover;
    border-color: $border-color-dark;
  }
}
