@import "base";

.settings-list {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: auto;

  > :not(:last-child) {
    margin-bottom: 20px;
  }

  check-box {
    margin-right: 10px;

    &.radiobutton {
      margin-right: 5px;
    }
  }
}

.keyboard-shortcut {
  padding: 6px;
  border-radius: 6px;
  background-color: $background-color-dark;

  &:hover {
    background-color: $view-hover-background;
    color: $view-hover-color;
  }
}
