@import "base";

.settings-list {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: auto;

  > :not(:last-child) {
    margin-bottom: 18px;
  }

  check-box {
    margin-right: 10px;

    &.radiobutton {
      margin-right: 5px;
    }
  }
}

.section-separator {
  display: flex;
  flex-direction: row;

  &:first-child {
    margin-top: -5px;
  }

  &:not(:first-child) {
    margin-top: 16px;
  }

  .section-header {
    font-family: $light-font;
    font-size: 140%;
    margin-right: 15px;
  }
  .separator-line {
    flex: 1;
    > hr {
      transform: translate(0, 4px);
    }
  }
}

.keyboard-shortcut {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid $border-color-medium;
  background-color: $input-background;

  &.fixed {
    background-color: $background-color-medium;
  }
  &:not(.fixed) {
    cursor: $pointer-cursor;
    &:hover {
      background-color: $input-background-hover;
      border-color: $border-color-dark;
    }
  }
}
