
// ============================================================================
//   Pulsating triple dots
// ============================================================================

.pulsating-triple-dots > div {
  width: 18px;
  height: 18px;

  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.pulsating-triple-dots .bounce1 {
  animation-delay: -0.32s;
}

.pulsating-triple-dots .bounce2 {
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { transform: scale(0) }
  40% { transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0);
  } 40% { 
    transform: scale(1.0);
  }
}
