
$num-side-bar-buttons: 8;

// =============================================================================
//   Sizes
// =============================================================================

$scrollbar-width: 8px;
$scrollbar-light-width: 16px;
$scrollbar-padding: 4px;

$side-bar-width: 80px;
$menu-bar-height: 42px;
$panel-header-height: 42px;
$panel-width: 370px;

// =============================================================================
//   Interface fonts
// =============================================================================

$text-font: OpenSans-Regular;
$light-font: OpenSans-Light;
$header-font: Questrial;
$button-font: $header-font;
$small-font: Arial;
$tooltip-font: $text-font;
$pinyin-font: OpenSans-Regular;
$monospace-font: Courier;

// =============================================================================
//   Shadows and gradients
// =============================================================================

$wide-shadow: 0 4px 8px 0 rgba($shadow-color, 0.2),
              0 6px 20px 0 rgba($shadow-color, 0.19);
$wide-shadow-centered: 0 4px 8px 0 rgba($shadow-color, 0.2),
                       0 0px 20px 0 rgba($shadow-color, 0.19);
$slim-shadow-bottom: 0 1px 1px rgba($shadow-color, 0.5);
$slim-shadow-top: 0 -1px 3px rgba($shadow-color, 0.7);
$slim-frame-shadow: 0 0 2px $section-content-shadow-color;
$stats-section-text-shadow: 0.5px 0.5px 0.5px $color-lightest;
$popup-menu-shadow: 1px 1px 6px rgba($shadow-color, 0.85);
$input-inset-shadow: inset 0 0px 6px -5px $shadow-color;
$input-shadow: 0 0 5px $input-border-color;
$input-highlight-shadow: 0 0 3px 2px $highlight-shadow-color;
$highlighted-text-shadow: 0 0 3px $highlighted-text-shadow-color;
$button-focus-shadow: 0 0 4px 2px $highlight-shadow-color;
$button-shadow-active: inset 0px 2px 13px -2px $button-light-shadow-color-active;
$contrast-text-shadow: 0.5px 0.5px 0.5px $contrast-shadow-color,
                       0px 0px 5px $contrast-shadow-color,
                       0px 0px 10px $contrast-shadow-color;

$vertical-fading-border: linear-gradient(
  to bottom, transparent, 20%, $border-color-medium, 80%, transparent) 0 100%;

// =============================================================================
//   Default values for variables not assigned in the color scheme
// =============================================================================

$suggestion-border-color: transparent !default;
$suggestion-border-color-hover: transparent !default;
$suggestion-border-color-selected: transparent !default;

$section-scrollbar-color:
  mix($background-color, $section-background, 78%) !default;
$section-scrollbar-color-hover:
  mix($background-color,$section-background,96%) !default;
$section-scrollbar-color-active:
  lighten($background-color, 3%) !default;

$kanji-overview-color: $link-color !default;
$kanji-overview-color-hover: $link-color-hover !default;

$test-button-background-highlighted: darken($select-background, 8%) !default;
$test-button-color-highlighted:
  mix($select-background, $select-color, 12%) !default;
$test-button-background-highlighted-hover:
  lighten($test-button-background-highlighted, 6%) !default;
$test-button-color-highlighted-hover:
  lighten($test-button-color-highlighted, 15%) !default;

$dictionary-commonness-color: rgba(strengthen(green, 3%), 0.85) !default;
$dictionary-commonness-color-weak: rgba($dictionary-commonness-color, 0.1) !default;
$dictionary-jlpt-level-color: rgba(weaken(darkgoldenrod, 3%), 0.85) !default;
$dictionary-jlpt-level-color-weak: rgba($dictionary-jlpt-level-color, 0.1) !default;
$dictionary-news-rank-color: rgba(#5f86cc, 0.85) !default;
//#5074b5; //#5579bb; // weaken(cornflowerblue, 2%); dodgerblue
$dictionary-news-rank-color-weak: rgba($dictionary-news-rank-color, 0.1) !default;
$dictionary-book-rank-color: rgba(#bf4a34, 0.85) !default;
// weaken(indianred, 3%); // strengthen(darkcyan, 3%);
$dictionary-book-rank-color-weak: rgba($dictionary-book-rank-color, 0.1) !default;
