.view {
  background-color: $view-background;
  color: $view-color;
  contain: strict;
}

.list-view {
  @extend .view;
  overflow: auto;

  > * {
    padding: 3px;
    border-radius: 5px;

    &:hover {
      background-color: $view-hover-background;
      color: $view-hover-color;
    }
    &.selected {
      background: $view-select-background;
      color: $view-select-color;
      &:hover {
        background: $view-select-background;
        color: $view-select-color;
      }
    }
    &[contenteditable]:focus {
      outline: none;
      color: $view-edit-color;
      background-color: $input-background-focus; // $view-edit-background;
      box-shadow: $input-highlight-shadow;
    }
  }
}

.list-view-header {
  background-color: $view-header-background;
  color: $view-header-color;
  font-family: $header-font;
  font-size: 110%;
  padding: 4px;
  text-align: center;
}

.light-item-view-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px;

  > .header-text{
    color: $color-light;
    font-family: $light-font;
    font-size: 140%;
  }
  > hr {
    flex: 1;
  }
  > button {
    @extend button.lightest;
    @extend button.no-shadow;
    margin: -10px;
  }
  > *:not(:last-child) {
    margin-right: 10px;
  }
}

.light-item-view {
  background-color: transparent;
  padding: 3px;
  padding-right: 0;  // Children have margin-right already

  > * {
    display: inline-block;
    padding: 5px;
    border: 1px solid $border-color-dark;
    border-radius: 6px;
    background-color: $view-background;
    margin-right: 5px;
    margin-bottom: 2px;
    min-width: 15px;

    &:hover {
      background-color: $view-hover-background-light;
      border-color: $view-hover-border-color;
      color: $view-hover-color;
    }
    &:focus {
      outline: none;
      background-color: $view-edit-background;
      border-color: $view-edit-border-color;
      color: $view-edit-color;
    }
  }
}
