popup-menu {
  --background-color: firebrick;
  --color: whitesmoke;
  --hover-background: indianred;
  --hover-color: white;
}

popup-stack {
  &[disabled] {
    --shadow-color: transparent;
    > option:checked {
      color: $button-disabled-color;
      background-color: $button-disabled-background;
    }
  }
  
  > option {
    color: whitesmoke;
    background-color: $button-background;
    font-family: $gui-font;
    font-size: 150%;

    &:hover {
      background-color: $button-hover-background;
      color: $button-hover-color;
    }

    &:checked {
      color: $button-color;
      background-color: crimson;
    }
  }
}
