popup-list {
  --label-background: $button-background;
  --label-color: $button-color;
  --label-padding: 12px;
  --label-hover-background: $button-background-hover;
  --label-hover-color: $button-color-hover;

  > option {
    color: $button-color;
    background-color: $button-background;
    padding: 8px;

    &:hover {
      background-color: $button-background-hover;
      color: $button-color-hover;
    }
  }
}

popup-stack {
  &[disabled] > option:checked {
      color: transparent;
  }
  
  > option {
    color: whitesmoke;
    background-color: $button-background;
    font-family: $light-font;
    font-size: 150%;

    &:hover {
      background-color: $button-background-hover;
      color: $button-color-hover;
    }

    &:checked {
      color: $button-color;
      background-color: $highlight-background;
    }
  }
}
