popup-list {
  --label-background: $button-background;
  --label-color: $button-color;
  --label-padding: 12px;
  --label-hover-background: $button-background-hover;
  --label-hover-color: $button-color-hover;

  > option {
    color: $button-color;
    background-color: $button-background;
    padding: 8px;

    &:hover {
      background-color: $button-background-hover;
      color: $button-color-hover;
    }
  }
}

popup-stack {
  --tooltip-speed: 0s;

  &[disabled] > option:checked {
    color: transparent;
  }
  &:focus {
    box-shadow: $button-focus-shadow;
    outline: none !important;
  }
  > option {
    color: whitesmoke;
    background-color: $button-background;
    font-family: $light-font;
    font-size: 150%;

    &:hover {
      background-color: $button-background-hover;
      color: $button-color-hover;
      // Raise element to make sure tooltips are visible on hovering
      // FIXME: This is a workaround and causes bugs. Try to circumvent issue
      z-index: 900 !important;
    }

    &:checked {
      color: $button-color;
      background-color: $highlight-background;
    }
  }
}

svg-bar-diagram {
  --bar-border-width: 0;
  --small-separator-width: 1;
  --large-separator-width: 2;
  --bar-background: $diagram-graphics-color;
  --bar-background-hover: $diagram-graphics-color-hover;
  --top-line-color: $border-color-dark;
  --bottom-line-color: $border-color-dark;
  --small-separator-color: $border-color-medium;
  --large-separator-color: $border-color-medium;
  --label-color: $diagram-label-color;
  --value-font: $small-font;
  --description-font: $small-font;
  --separator-font: $header-font;
}
