@import "overlay";

#partitioned-window {
  max-height: 100vh;
}

#main-frame > * {
  font-family: OpenSans-Regular;
  text-align: center;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

#app-name {
  font-family: $light-font;
  font-size: 200%;
}
#app-version {
  font-family: $header-font;
}

#github-link-frame, #resources-link {
  margin-top: 10px;
}
