@import "panel";

textarea {
  @extend textarea.styled;
  flex: 1;
  font-size: 110%;
  &:placeholder-shown {
    font-size: 120%;
  }
}

#level-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#srs-level {
  margin-left: 15px;
  width: 35px;
  height: 35px;
}
