@import "panel";

.detail-row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

#meanings-entry, #on-yomi-entry, #kun-yomi-entry {
  @extend textarea.styled;
  flex: 1;
  font-size: 110%;
  &:placeholder-shown {
    font-size: 120%;
  }
}

#kanji-entry {
  @extend textarea.styled;
  font-size: 300%;
  align-self: center;
  box-sizing: border-box;
}

#all-levels-div {
  display: flex;
  flex-direction: row;
  align-items: center;

  #all-srs-levels {
    margin-left: 15px;
    width: 35px;
    height: 35px;
  }
}

#srs-level-meanings, #srs-level-on-yomi, #srs-level-kun-yomi {
  width: 30px;
}
