@import "base";

#wrapper {
  position: fixed;
  box-shadow: $popup-menu-shadow;
  border-radius: 6px;

  #items {
    min-width: 160px;
    max-width: 250px;
    max-height: 258px;
    width: var(--width);
    overflow-y: auto;
    background-color: $background-color;
    color: $color;
    padding: 4px;
    text-align: left;
    border-radius: 6px;

    // &:empty::after {
    //   color: $color-light;
    //   content: var(--no-items-text, initial);
    //   padding: 3px;
    // }

    &:hover {
      text-shadow: none;
      color: $color;
    }
    > * {
      &.selected {
        color: $view-select-color;
        background-color: $view-select-background;
        border-radius: 5px;
      }
      &:hover {
        background-color: $view-hover-background;
        color: $view-hover-color;
      }
      font-size: 1rem;
      line-height: 1.3rem;
      padding-left: 5px;
      padding: 3px;
      border-radius: 6px;
      cursor: $pointer-cursor;
    }
  }
}
