@import "base";

body {
  display: flex;
  flex-direction: column;
}

#filters {
  display: flex;
  flex-direction: row;

  input {
    flex: 1;
    padding: 7px;
    font-size: 120%;
  }
}

#status-bar {
  display: flex;
  flex-direction: row;
  #search-status {
    flex: 1;
    padding: 8px;
  }
  #load-more-results {
    padding: 8px;
  }
}

#results {
  background-color: $view-background;
  color: $view-color;
  overflow-y: auto;

  > div {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-bottom: 1px solid darken($view-background, 30%);

    .word-frame {

      .readings-small {
        font-size: 80%;
      }

      .main-word {
        margin-top: 4px;
        font-size: 120%;
      }

      width: 120px;
      margin-right: 4px;
    }

    .meanings-frame {
      flex: 1;

      > div {
        margin-bottom: 4px;

        .number {
          font-size: 80%;
          color: grey;
        }

        .part-of-speech {
          font-size: 80%;
          color: grey;
          margin-right: 6px;
        }

        .translations {
        }
      }
    }

    &.frequent-entry {
      background-color: #e0ffb3;
    }

    &.semi-frequent-entry {
      background-color: lighten(#e0ffb3, 5%);
    }
  }
}
