@import "base";

.small {
  font-size: 80%;
  color: $color-lightest;
  font-family: $small-font;
}

#main-reading, .translation, .reading, .word:not([data-word]) {
  cursor: $pointer-cursor;
  &:hover {
    text-decoration: underline;
  }
}

#frame {
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-bottom: 1px solid $border-color-light;

  &.frequent {
    background-color: $dictionary-frequent-words-background;
    border-bottom: 1px solid $dictionary-frequent-words-border-color;
  }
  &.semi-frequent {
    background-color: $dictionary-semi-frequent-words-background;
    border-bottom: 1px solid $dictionary-semi-frequent-words-border-color;
  }

  &.tag-p {
    background-color: $dictionary-place-name-background;
    border-bottom: 1px solid darken($dictionary-place-name-background, 10%);
  }
  &.tag-f {
    background-color: $dictionary-female-name-background;
    border-bottom: 1px solid darken($dictionary-female-name-background, 10%);
  }
  &.tag-m {
    background-color: $dictionary-male-name-background;
    border-bottom: 1px solid darken($dictionary-male-name-background, 10%);
  }
  // Diagonal stripes of male and female color if name has unspecified gender
  &.tag-g {
    $stripe-size: 30px;
    background: repeating-linear-gradient(45deg,
      $dictionary-male-name-background,
      $dictionary-male-name-background $stripe-size,
      $dictionary-female-name-background $stripe-size,
      $dictionary-female-name-background ($stripe-size * 2));
    border-bottom: 1px solid;
    border-image: repeating-linear-gradient(45deg,
      darken($dictionary-male-name-background, 10%),
      darken($dictionary-male-name-background, 10%) $stripe-size,
      darken($dictionary-female-name-background, 10%) $stripe-size,
      darken($dictionary-female-name-background, 10%) ($stripe-size * 2)) 1;
    border-image-slice: 1;
  }

  // #added-label, #add-button {
  //   width: 30px;
  //   writing-mode: sideways-lr;
  //   transform: rotate(-90deg);
  // }

  // #added-label {
  //   @extend .small;
  //   font-variant: small-caps;
  //   &:hover {
  //     @extend button.light:hover;
  //   }
  // }

  // button#add-button {
  //   @extend .link;
  //   font-family: $header-font;
  //   font-variant: small-caps;
  //   text-decoration: none;
  // }

  #added-label, #add-button {
    @include center-content;
    width: 25px;
    padding-right: 5px;
    border-right: 1px solid $border-color-light;
    margin-right: 10px;
  }

  #added-label {
    color: $color-positive;
    opacity: 0.6;
    &:hover {
      text-shadow: 0 0 1px $color-positive;
      opacity: 1;
    }
  }

  #add-button {
    color: $color-negative;
    opacity: 0.6;
    &:hover {
      text-shadow: 0 0 1px $color-negative;
      opacity: 1;
    }
  }

  #word-frame {
    width: 130px;
    margin-right: 4px;

    #main-reading {
      font-size: 80%;
    }
    #main-word {
      margin-top: 4px;
      font-size: 124%;  // Under 125% to prevent thicker underline and its bugs
    }
  }

  #meanings-frame {
    flex: 1;

    > div {
      margin-bottom: 4px;

      &.part-of-speech {
        @extend .small;
        &:not(:first-child) {
          margin-top: 4px;
          display: inline-block;
        }
      }
      &.meaning {
        .number {
          @extend .small;
        }
        .translations + span {
          margin-left: 3px;
        }
        .translations ~ span {
          @extend .small;
          &:not(:last-child)::after {
            content: ", ";
          }
        }
        .translations > .translation {
          &:not(:last-child)::after {
            content: "; ";
          }
        }
      }
      &#variants {
        margin-top: 10px;

        #variant-header {
          @extend .small;
        }

        .variant {
          display: inline-block;
        }
      }
    }
  }
}
