@import "base";

body {
  display: flex;
  flex-direction: column;
}

#control-bar {
  > *:not(:first-child) {
    border-left: 1px solid $border-color-light;
  }
  display: flex;
  flex-direction: row;
  background-color: $background-color;
  color: $color;
  height: 35px;
  // box-shadow: $slim-shadow-bottom;
  border-bottom: 1px solid $border-color-dark;
  flex-shrink: 0;
  z-index: var(--dictionary-control-bar-layer);
  position: relative;

  &.no-shadow {
    // box-shadow: none;
    border-bottom-width: 0;
  }

  #words-filter-frame, #meanings-filter-frame {
    flex: 1;
    display: flex;
    flex-direction: row;
  }

  input {
    @extend input.light;
    font-size: 120%;
    padding-left: 10px;
    padding-right: 0;
    flex: 1;
  }
  button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 140%;
  }
}

#meanings-filter-button, #words-filter-button {
  .spinner { display: none; }
  &.searching {
    i { display: none; }
    .spinner { display: block; }
  }

  .spinner {
    color: $button-light-icon-color;
    > div {
      pointer-events: none;
    }
    &:hover {
      color: $button-light-icon-color-hover;
      > div {
        text-shadow: 0 0 1px $button-light-color;
      }
    }
  }
}

#search-results-info-bar {
  display: flex;
  flex-direction: row;
  background-color: $background-color;
  color: $color;
  border-top: 1px solid $border-color-medium;
  // box-shadow: $slim-shadow-bottom;
  border-bottom: 1px solid $border-color-dark;
  z-index: var(--dictionary-search-info-bar-layer);
  flex-shrink: 0;

  > div {
    flex: 1;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    flex-direction: row;
    background-color: $background-color-dark;
    cursor: $pointer-cursor;
    
    &:not(:first-child) {
      border-left: 1px solid $border-color-light;
    }

    &.selected {
      background-color: $background-color;
      .search-results-info-header {
        color: $button-light-color-hover;
      }
    }

    &:not(.selected):hover {
      background-color: $background-color-medium;
    }
  }

  .search-results-info-header {
    font-family: $header-font;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    color: $button-light-color;
  }

  .search-results-info-details {
    font-family: $small-font;
    font-size: 0.8rem;
    color: $color-light;
  }
}

.search-results {
  flex: 1;
  background-color: $view-background;
  color: $view-color;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: $scrollbar-width;
    height: $scrollbar-width;
  }
  &::-webkit-scrollbar-track {
    background-color: $background-color;
  }
  &::-webkit-scrollbar-thumb {
    border: 0;
  }
}

#history-popup {
  position: absolute;
  right: 0;
  top: 100%;
  display: flex;
  flex-direction: column;
  height: 300px;
  min-width: 200px;
  max-width: 300px;
}

#history {
  flex: 1;
  font-family: $vocab-font;
  line-height: 1.3rem;

  > * {
    cursor: $pointer-cursor;
  }
}

#history-header {
  border-bottom: 1px solid $border-color-medium;
}

#settings-popup {
  position: absolute;
  right: 0;
  top: 100%;
  width: 240px;
}

#search-spinner {
  align-self: center;
}

#no-search-results-info {
  @include center-content;
}
