@import "base";

.small {
  font-size: 80%;
  color: $color-lightest;
  font-family: $small-font;
}

#frame {
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-bottom: 1px solid $border-color-light;

  &.frequent {
    background-color: $dictionary-frequent-words-background;
    border-bottom: 1px solid $dictionary-frequent-words-border-color;
  }

  &.semi-frequent {
    background-color: $dictionary-semi-frequent-words-background;
    border-bottom: 1px solid $dictionary-semi-frequent-words-border-color;
  }

  #word-frame {
    width: 130px;
    margin-right: 4px;

    #main-reading {
      font-size: 80%;
    }
    #main-word {
      margin-top: 4px;
      font-size: 130%;
    }
  }

  #meanings-frame {
    flex: 1;

    > div {
      margin-bottom: 4px;

      &.part-of-speech {
        @extend .small;
        &:not(:first-child) {
          margin-top: 4px;
          display: inline-block;
        }
      }
      &.meaning {
        .number {
          @extend .small;
        }
        .translations + span {
          margin-left: 3px;
        }
        .translations ~ span {
          @extend .small;
          &:not(:last-child)::after {
            content: ", ";
          }
        }
      }
      &#variants {
        margin-top: 10px;

        #variant-header {
          @extend .small;
        }

        .variant {
          display: inline-block;
        }
      }
    }
  }
}
