@import "panel";

#partitioned-window > #main-frame {
  padding-top: 5px;
  padding-bottom: 10px;

  > *:not(:last-child) {
    margin-bottom: 5px;
  }
}

#main-frame {
  #word-frame {
    display: flex;
    flex-direction: row;
    #word-wrapper {
      @include center-content("vertical");
      flex: 1;
      
      #word {
        font-size: 180%;
        padding: 4px;
        border-radius: 6px;
        border: 1px solid transparent;

        &:hover {
          background-color: $view-hover-background;
          color: $view-hover-color;
        }
        &:focus {
          background-color: $view-edit-background;
          color: $view-edit-color;
          border-color: $view-edit-border-color;
          outline: none;
        }
      }
    }
    #level-header {
      font-size: 80%;
      margin-bottom: 3px;
      font-family: $small-font;
      text-align: center;
    }
  }
  #translations-frame, #readings-frame, #vocab-lists-frame {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  #translations-header, #readings-header, #vocab-lists-header {
    @extend .light-item-view-header;
    .add-button {
      @extend button.lightest;
      @extend button.no-shadow;
      font-size: 90%;
      display: inline-block;
      padding: 0;
      margin-left: 10px;
    }
  }
  #translations, #readings, #vocab-lists {
    @extend .light-item-view;
    flex: 1;
  }
  #vocab-list-select-frame {
    display: flex;
    flex-direction: row;
    #select-vocab-list {
      flex: 1;
      border-right: 0;
    }
    #add-vocab-list-button {
      padding-left: 6px;
      padding-right: 7px;
    }
  }
}

#srs-level {
  background-color: $button-background;
  height: 40px;
  width: 40px;
}
