@import "edit-panel";

#word-frame {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px !important;  // Needed, else partitioned-window overrides

  #word-wrapper {
    @extend .light-item-view;
    @include center-content("vertical");
    flex: 1;
    
    #word {
      font-size: 1.8rem;
      line-height: 1.8rem;  // Strip fonts from built-in padding
      font-family: $vocab-font;

      &:not(:hover):not(:focus) {
        border: 1px solid transparent;
        background-color: transparent;
      }
      &:empty:before {
        cursor: text;
        content: "Enter word";
      }
    }
  }
  #level-header {
    font-size: 80%;
    margin-bottom: 3px;
    font-family: $small-font;
    text-align: center;
  }
}

#translations > *:empty:before {
  content: "Enter translation";
}
#readings > *:empty:before {
  content: "Enter reading";
}
#vocab-lists > *:empty:before {
  content: "Enter list name";
}
#notes > *:empty:before {
  content: "Enter note";
}

#translations-frame {
  flex: 4;
  &.readings-enabled {
    flex: 3;
  }
}
#readings.pinyin > * {
  font-family: $pinyin-font;
}
#vocab-lists > * {
  &.list-not-existing {
    background-color: $background-color-dark;
    &:hover {
      background-color: $background-color-medium;
      border-color: $border-color-darkest;
    }
  }
}

#srs-level {
  height: 34px;
  width: 34px;
}
