@import "edit-panel";

#hanzi-frame {
  @extend .light-item-view;
  text-align: center;

  #hanzi {
    font-size: 3rem;
    text-align: center;
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    font-family: $vocab-font;

    &:not(:hover):not(:focus) {
      border: 1px solid transparent;
      background-color: transparent;
    }
    &:empty:before {
      cursor: text;
      content: "Enter\Ahanzi";
      display: inline-block;
      font-size: 1.2rem;
      line-height: 1.2;
      white-space: pre;
      text-align: center;
    }
  }
}

#meanings > *:empty:before {
  content: "Enter meaning";
}
#readings > *:empty:before {
  content: "Enter pinyin";
}

#readings {
  font-family: $pinyin-font;
}

#srs-level-meanings, #srs-level-readings {
  width: 30px;
  height: 30px;
  font-size: 1rem;
}

.detail-row-header {
  height: 30px;  // Must be same as height of srs selectors above
}

#all-levels-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;

  #all-srs-levels {
    margin-left: 15px;
    width: 30px;
    height: 30px;
  }
}
