@import "edit-panel";

#hanzi-frame {
  display: flex;
  flex-direction: row;
  #hanzi {
    font-size: 300%;
    flex: 1;
    padding: 4px;
    overflow-x: auto;
    text-align: center;
  }
}

#meanings > *:empty:before {
  content: "Enter meaning";
}
#readings > *:empty:before {
  content: "Enter pinyin";
}

#readings > * {
  font-family: $pinyin-font;
}

#srs-level-meanings, #srs-level-readings {
  width: 30px;
  height: 30px;
  font-size: 1rem;
}

#all-levels-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;

  #all-srs-levels {
    margin-left: 15px;
    width: 30px;
    height: 30px;
  }
}
