@import "edit-panel";

#kanji-frame {
  display: flex;
  flex-direction: row;
  #kanji {
    font-size: 300%;
    flex: 1;
    padding: 4px;
    overflow-x: auto;
    text-align: center;
  }
}

#meanings > *:empty:before {
  content: "Enter meaning";
}
#on-yomi > *:empty:before {
  content: "Enter on-yomi";
}
#kun-yomi > *:empty:before {
  content: "Enter kun-yomi";
}

#srs-level-meaning, #srs-level-on-yomi, #srs-level-kun-yomi {
  width: 30px;
  height: 30px;
  font-size: 1rem;
}

#all-levels-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;

  #all-srs-levels {
    margin-left: 15px;
    width: 30px;
    height: 30px;
  }
}
