@import "base";

body {
  display: flex;
  flex-direction: column;
}

#header-frame {
  display: flex;
  background-color: #dddddd;
  flex-direction: row;

  #header {
    color: dimgray;
    flex: 1;
    font-size: 165%;
    display: flex;
    align-items: center;
    font-family: $gui-font;
    margin-left: 10px;
  }
  #close-button {
    margin-right: 10px;
    color: lightcoral;
    opacity: 0.4;
    font-size: 300%;
    &:hover {
      opacity: 1;
    }
  }
}

#main-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 10px;

  #kanji-frame {
    display: flex;
    flex-direction: row;
    #kanji {
      font-size: 300%;
      flex: 1;
      padding: 4px;
      overflow-x: auto;
      text-align: center;
    }
  }
  #meanings-frame, #on-yomi-frame, #kun-yomi-frame {
    flex: 1;
    display: flex;
    flex-direction: column;
    .detail-row {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      align-content: stretch;
    }
  }
  #meanings-header, #on-yomi-header, #kun-yomi-header {
    background-color: darkred;
    color: whitesmoke;
    padding: 3px;
    margin-top: 5px;
  }
  #meanings, #on-yomi, #kun-yomi {
    flex: 1;
    background-color: $view-background;
    color: $view-color;
    border: 1px solid dimgray;
    padding: 3px;
    overflow: auto;
  }
  #srs-level-meanings, #srs-level-on-yomi, #srs-level-kun-yomi {
    width: 30px;
  }
}

#edit-input {
  border: 0px;
  padding: 2px;
}

#button-frame {
  display: flex;
  flex-direction: row;

  button {
    @extend .styled-button;
    flex: 1;
    font-size: 120%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid crimson;
    &:first-child {
      border-right: 1px solid crimson;
    }
  }
}

.list-entry {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  padding: 2px;
  &:hover {
    // background-color: #dddddd;
    background-color: $view-hover-background;
  }
}

#all-levels-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;

  #all-srs-levels {
    margin-left: 15px;
    width: 35px;
    height: 35px;
  }
}
