@import "panel";

#partitioned-window > #main-frame {
  padding-top: 5px;
  padding-bottom: 10px;

  > *:not(:last-child) {
    margin-bottom: 3px;
  }
}

#kanji-frame {
  display: flex;
  flex-direction: row;
  #kanji {
    font-size: 300%;
    flex: 1;
    padding: 4px;
    overflow-x: auto;
    text-align: center;
  }
}

#meanings-frame, #on-yomi-frame, #kun-yomi-frame {
  flex: 1;
  display: flex;
  flex-direction: column;

  .detail-row {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
  }
}

#meanings-header, #on-yomi-header, #kun-yomi-header {
  background-color: darkred;
  color: whitesmoke;
  padding: 3px;
}

#meanings, #on-yomi, #kun-yomi {
  flex: 1;
  border: 1px solid dimgray;
  padding: 3px;
}

#srs-level-meanings, #srs-level-on-yomi, #srs-level-kun-yomi {
  width: 30px;
}

#edit-input {
  border: 0px;
  padding: 2px;
  width: 100%;
  box-sizing: border-box;
}

#all-levels-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;

  #all-srs-levels {
    margin-left: 15px;
    width: 35px;
    height: 35px;
  }
}
