@import "settings";

#data-path-frame {
  align-items: center;

  #data-path {
    flex: 1;
    padding: 8px;
    color: $view-color;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 6px;
    border: 1px solid $border-color-medium;
    background-color: $view-background-dark;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: $view-background;
      border-color: $border-color-dark;
    }
  }
}

#srs-notifications-intervals, #regular-backup-intervals {
  margin-top: 6px;
  margin-left: 37px;
}

.settings-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#program-update-frame {
  margin-top: -5px;
}

#program-version-status {
  color: $color-positive;
  &.update-available {
    color: $color-negative;
  }
  font-size: 1.2rem;
  margin-right: 20px;
}

#current-program-version {
  margin-left: 20px;
  margin-right: 20px;
  font-family: $header-font;
  font-size: 1.2rem;
}

#update-program-version, #check-program-update {
  padding: 0;
}
