@import "settings";

#data-path-frame {
  display: flex;
  flex-direction: row;
  align-items: center;

  #data-path {
    flex: 1;
    padding: 8px;
    color: $view-color;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 6px;
    border: 1px solid $border-color-medium;
    background-color: $view-background-dark;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: $view-background;
      border-color: $border-color-dark;
    }
  }
}

#srs-notifications-intervals, #regular-backup-intervals {
  margin-top: 6px;
  margin-left: 37px;
}
