@import "overlay";

:host {
  width: 650px;
}

#window {
  max-height: 100vh;
  height: 480px;
  display: flex;
  flex-direction: row;
}

#tree-frame {
  width: 220px;
  overflow: auto;

  #tree {
    padding: 10px;
  }
}

#content-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  border-left: 1px solid $border-color-medium;
  padding-left: 5px;

  #content-path-frame {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $border-color-medium;
    margin-right: 5px;

    #content-path {
      flex: 1;
      font-size: 90%;
      padding: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-bottom: 8px;
      margin-right: 4px;

      .separator::after {
        margin-right: 8px;
        margin-left: 8px;
        content: "\f105";
        font-family: FontAwesome;
      }
    }
  }

  #content {
    flex: 1;
    padding: 5px;
    padding-right: 10px;
    overflow-y: auto;

    > p:first-child {
      margin-top: 5px;
    }

    code {
      font-family: $monospace-font;
      padding: 4px;
      border-radius: 4px;
      background-color: $view-background-medium;
      border: 1px solid $border-color-light;
    }

    ul {
      padding-left: 20px;

      & > li {
        margin-bottom: 10px;
      }

      &.large {
        padding-left: 40px;
        font-size: 120%;
      }
    }

    h2 {
      margin-left: 15px;
    }

    &.no-data {
      @include center-content;
      font-size: 200%;
      * {
        font-family: $light-font;
      }
    }
  }
}

#close-button {
  align-self: center;
  margin-right: -2px;
}
