@import "base";

#window {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

table#history {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: $view-background;
  border-collapse: collapse;
  // border-spacing: 1px;
  thead {
    display: block;
    table-layout: fixed;
    width: 100%;
    background-color: dimgray;
  }
  tbody {
    flex: 1;
    display: block;
    overflow-y: auto;
    tr {
      border-width: 0 0 0 20px;
      border-style: solid;
      &.deleted {
        border-color: salmon;
        // &:hover { background-color: lighten(salmon, 10%); }
      }
      &.added {
        border-color: yellowGreen;
        // &:hover { background-color: lighten(yellowgreen, 15%); }
      }
      &.modified {
        border-color: khaki;
        // &:hover { background-color: lighten(khaki, 10%); }
      }
    }
  }
  th {
    color: white;
    padding: 5px 0px 5px 0px;
    font-family: $header-font;
    font-size: 120%;
    font-weight: normal;
  }
  td {
    border: 1px solid darken($view-background, 10%);
    padding: 5px;

    .fa-plus {
      color: darkgreen;
      margin-right: 10px;
    }

    .fa-minus {
      color: darkred;
      margin-right: 10px;
    }

    .fa-arrow-right {
      color: darkgoldenrod;
      margin-right: 8px;
      margin-left: 8px;
    }
  }
}

header {
  display: flex;
  flex-direction: row;
  padding: 0px;
}

#filter-frame {
  display: flex;
  flex-direction: row;

  #filters {
    display: flex;
    flex-direction: row;
    flex: 1;
    switch-bar {
      flex: 1;
    }
  }
}
