@import "base";

body {
  background-color: $section-background;
}

#pinwall {
  @extend .inverse-scrollbar;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 10px;

  > * {
    display: block;
    box-shadow: $wide-shadow;
    border-radius: 5px;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
