@import "base";

body {
  background: $background;
  height: 100vh;
  // width: 100vw;
  margin: 0;
  padding: 0;
  > .window {
    display: none;
    height: 100%;
    width: 100%;
  }

  #overlay {
    position: fixed;
    z-index: var(--overlay-layer);
  }
}
