@import "base";

body {
  position: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  > .window {
    display: none;
    height: 100%;
    width: 100%;
  }

  #overlay {
    z-index: var(--overlay-layer);
  }
}

#link-location-display {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $background-color;
  color: $color;
  border-top: 1px solid $border-color-light;
  border-right: 1px solid $border-color-light;
  border-top-right-radius: 3px;
  padding: 3px;
  pointer-events: none;
  z-index: var(--link-location-display-layer);
  visibility: hidden;
  opacity: 0;
  transition-property: all;
  transition-duration: .15s;
  transition-delay: .2s;
  transition-timing-function: ease;
  font-family: $text-font;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

#tooltip {
  position: absolute;
  z-index: var(--tooltip-layer);
  pointer-events: none;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 3px;
  background-color: $tooltip-background;
  color: $tooltip-color;
  font-family: $tooltip-font;
  opacity: 0.9;
  box-shadow: 0 0 5px $tooltip-shadow-color;
  visibility: hidden;
}
