@import "base";

body {
  position: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  > .window {
    display: none;
    height: 100%;
    width: 100%;
  }

  #overlay {
    z-index: var(--overlay-layer);
  }
}

.dragged-note {
  position: absolute;
  box-shadow: $wide-shadow;
  opacity: 0.7;
  background-color: $view-background-dark;
  color: $view-color;
  padding: 10px;
  white-space: pre-wrap;
  box-sizing: border-box;
  z-index: var(--dragged-item-layer);
  pointer-events: none;

  *:not(#control-buttons) {
    margin: 0;
  }
  ol, ul {
    padding-left: 25px;

    > li:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

#link-location-display {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $background-color;
  color: $color;
  border-top: 1px solid $border-color-light;
  border-right: 1px solid $border-color-light;
  border-top-right-radius: 3px;
  padding: 3px;
  pointer-events: none;
  z-index: var(--link-location-display-layer);
  visibility: hidden;
  opacity: 0;
  transition-property: all;
  transition-duration: .15s;
  transition-delay: .2s;
  transition-timing-function: ease;
  font-family: $text-font;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

#tooltip {
  position: absolute;
  z-index: var(--tooltip-layer);
  pointer-events: none;
  padding: 5px;
  border-radius: 3px;
  background-color: $tooltip-background;
  color: $tooltip-color;
  font-family: $tooltip-font;
  opacity: 0.85;
  box-shadow: 0 0 5px $tooltip-shadow-color;
  visibility: hidden;
}
