@import "init";

#partitioned-window {
  border-radius: 10px;
}

#window {
  background-image: url(../../img/husk.png);
  background-color: lightgoldenrodyellow;
  background-blend-mode: luminosity;
}
