@import "overlay";

#main-frame > * {
  text-align: center;
}

#welcome-message {
  font-size: 1.8rem;
  font-family: $light-font;
  margin-top: 10px;
  margin-bottom: 20px;
}

#text {
  margin-bottom: 15px;
  margin-top: 10px;
}
