@import "base";

body {
  display: flex;
  flex-direction: column;
}

#kanji-container {
  display: none;
}

#control-bar {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  height: 50px;
  box-shadow: 0 3px 2px #333333;
  z-index: var(--kanji-control-bar-layer);

  #show-overview-button, #show-search-results-button {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 140%;
  }

  #search-by-kanji-entry {
    flex: 1;
    font-size: 120%;
    padding-left: 3px;
  }
}

#bottom {
  flex: 1;
  overflow: auto;

  #overview-window {
    .kanji {
      display: inline-block;
      margin-right: 3px;
      margin-bottom: 3px;
      padding: 4px;
      font-size: 140%;
      color: darkred;

      &.added {
        color: darkgrey;
      }

      &.selected {
        color: $select-color;
        background: $select-background;
        border-radius: 3px;
      }
    }
  }

  #search-window {
    display: none;
  }
}

#search-results {
  background-color: $view-background;
  color: $view-color;
}

dt {
  font-size: 130%;
margin: 10px;
  margin-top: 18px;
  font-variant: small-caps;
}

dd {
  padding: 10px;
  margin-right: 28px;
  background: gainsboro;
  box-shadow: 0px 0px 2px darkred;
}


.statistic-label {
  font-size: 60%;
  margin-left: 10px;
}
