@import "base";

$control-bar-height: 35px;

body {
  color: $section-color;
  background-color: $section-background;
}

#kanji-container {
  display: none;
}

#control-bar {
  display: flex;
  flex-direction: row;
  background-color: $background-color;
  height: $control-bar-height;
  box-shadow: $slim-shadow-bottom;
  z-index: var(--kanji-control-bar-layer);
  position: relative;

  > button {
    @extend button.light;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 140%;
  }

  > input {
    @extend input.light;
    font-size: 120%;
    padding-left: 10px;
    padding-right: 0;
    min-width: 1px;
    flex: 1;
  }

  #show-overview-button, #settings-button, #search-by-meanings-input,
  #search-by-readings-input, #history-button {
    border-left: 1px solid $border-color-light;
  }

  #search-by-readings-input, #search-by-kanji-input {
    font-family: $vocab-font;
  }

  .search-button {
    @extend button.no-shadow;

    .spinner { display: none; }
    &.searching {
      i { display: none; }
      .spinner { display: block; }
    }
    .spinner {
      color: $button-light-icon-color;
      > div {
        pointer-events: none;
      }
      &:hover {
        color: $button-light-icon-color-hover;
        > div {
          text-shadow: 0 0 1px $button-light-color;
        }
      }
    }
  }
}

#bottom-frame {
  flex: 1;
  height: calc(100% - #{$control-bar-height});

  #overview-pane {
    @extend .inverse-scrollbar;
    overflow-x: hidden;
    height: 100%;
    overflow-y: auto;
  }

  #search-pane {
    display: none;
    height: 100%;
  }
}

#kanji-overview > dd > * {
  display: inline-block;
  padding: 5px;
  font-size: 150%;
  color: $kanji-overview-color;

  &:hover {
    &:not(.selected) {
      color: $kanji-overview-color-hover;
    }
  }

  &.added {
    color: $view-color-greyed-out;

    &:hover:not(.selected) {
      color: $view-color;
    }
  }

  &.selected {
    color: $select-color;
    background: $select-background;
    border-radius: 3px;

    &:hover {
      text-shadow: none;
    }
  }
}

#search-results {
  background-color: $view-background;
  color: $view-color;
  height: 100%;
  overflow: auto;
}

dt {
  font-size: 130%;
  margin: 10px;
  margin-top: 18px;
  font-family: $header-font;
}

dd {
  padding: 6px;
  border-radius: 5px;
  margin-right: 28px;
  background: $background-color-dark;
  box-shadow: $slim-frame-shadow;
  font-family: $vocab-font;
}

.amount-added {
  font-size: 0.8rem;
  font-family: $small-font;
  margin-left: 20px;
}

#history-popup {
  position: absolute;
  right: 0;
  top: 100%;
  display: flex;
  flex-direction: column;
  height: 300px;
  min-width: 200px;
  max-width: 300px;
}

#history {
  flex: 1;
  font-size: 1.1rem;
  font-family: $vocab-font;
  > * {
    cursor: $pointer-cursor;
  }
}

#history-header {
  border-bottom: 1px solid $border-color-medium;
}

#settings-popup {
  position: absolute;
  right: 0;
  top: 100%;
  width: 220px;
}

#no-search-results-info {
  @include center-content;
}
