@import "base";

span {
  display: inline-block;
}

#frame {
  display: flex;
  flex-direction: row;
  padding: 3px;
  border-bottom: 1px solid $border-color-light;

  #left-frame {
    display: flex;
    flex-direction: column;
    margin-left: 3px;
    margin-right: 4px;
    width: 60px;

    #kanji {
      font-size: 250%;
      padding: 5px;
      text-shadow: -0.5px -0.5px 0.5px $color;
      text-align: center;
      &.rare {
        color: $kanji-search-results-rare-color;
        text-shadow:-0.5px -0.5px 0.5px $kanji-search-results-rare-shadow-color;
        &:hover {
          @extend .kanji-info-link;
        }
      }
      &:hover {
        @extend .kanji-info-link;
      }
    }
    #added-label {
      padding: 3px;
      font-family: $header-font;
      text-align: center;
      color: $added-label-color;
      &:hover {
        text-shadow: 0 0 1px $added-label-shadow-color;
      }
    }
    #add-button {
      padding: 3px;
      font-family: $header-font;
      text-align: center;
      color: $add-button-color;
      &:hover {
        text-shadow: 0 0 1px $add-button-shadow-color;
        background: $view-hover-background;
      }
      &:active {
        background-color: $add-button-background-active;
      }
    }
    #strokes-link, #examples-link {
      font-size: 80%;
      color: $link-color;
      text-align: center;
      margin-top: 3px;
    }
  }

  #right-frame {
    flex: 1;
    padding: 3px;

    #meanings {
      font-size: 120%;
      margin-bottom: 5px;
    }

    #details-bar > span {
      padding-top: 2px;
      padding-bottom: 2px;
      font-size: 80%;

      &:not(:last-child) {
        border-right: 1px solid transparent;
        border-image: $vertical-fading-border;
        padding-right: 5px;
      }
      &:not(:first-child) {
        padding-left: 6px;
      }
      color: $color-light;
    }

    .yomi-frame {
      margin-top: 4px;

      .yomi-header {
        font-size: 80%;
        font-color: $color-light;
        font-family: $header-font;
        margin-right: 5px;
      }

      .yomi {
        margin-top: 3px;
        padding: 2px;
        border-radius: 4px;
        margin-right: 6px;
        background-color: $kanji-search-results-yomi-background;
      }
    }
  }
}
