@import "base";

span {
  display: inline-block;
}

#frame {
  display: flex;
  flex-direction: row;
  padding-top: 3px;
  padding-bottom: 8px;
  padding-left: 3px;
  margin-left: 8px;
  margin-right: 8px;
  border-bottom: 1px solid $border-color-light;

  #left-frame {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    margin-right: 11px;
    width: 60px;

    #kanji {
      font-size: 250%;
      padding: 5px;
      padding-top: 8px;
      // text-shadow: -0.5px -0.5px 0.5px $color;
      text-align: center;
      font-family: $vocab-font;

      &.rare {
        color: $color-light;
        // text-shadow:-0.5px -0.5px 0.5px $color-lightest;
        &:hover {
          @extend .kanji-info-link;
        }
      }
      &:hover {
        @extend .kanji-info-link;
      }
    }
    #added-label {
      padding: 3px;
      font-family: $header-font;
      text-align: center;
      color: $added-label-color;
      &:hover {
        text-shadow: 0 0 1px $added-label-shadow-color;
      }
    }
    #add-button {
      padding: 3px;
      border-radius: 5px;
      font-family: $header-font;
      text-align: center;
      color: $add-button-color;
      &:hover {
        text-shadow: 0 0 1px $add-button-shadow-color;
        background: $view-hover-background;
      }
    }
    #strokes-link, #examples-link {
      font-size: 80%;
      color: $link-color;
      text-align: center;
      margin-top: 3px;
    }
  }

  #right-frame {
    flex: 1;
    padding: 3px;

    #meanings {
      font-size: 120%;
    }

    #details-bar > span {
      // padding-top: 2px;
      // padding-bottom: 2px;
      margin-top: 2px;
      margin-bottom: 2px;
      font-size: 80%;

      &:not(:last-child) {
        border-right: 1px solid transparent;
        border-image: $vertical-fading-border;
        padding-right: 10px;
      }
      &:not(:first-child) {
        padding-left: 10px;
      }
      color: $color-light;
    }

    .yomi-frame {
      margin-top: 4px;
      font-family: $vocab-font;

      .yomi-header {
        font-size: 80%;
        font-color: $color-light;
        font-family: $header-font;
        // margin-right: 5px;
        width: 30px;
        transform: translate(0, -2px);  // Attempt to center it
      }

      .yomi {
        margin-top: 4px;
        padding: 3px;
        border-radius: 5px;
        margin-right: 4px;
        background-color: $view-background-medium;
        border: 1px solid mix($border-color-light, $border-color-medium, 50%);

        &:hover {
          background-color: $view-background-dark;
          border: 1px solid $border-color-dark;
          color: $color-dark;
          cursor: $pointer-cursor;
        }

        // &:not(:last-child)::after {
        //   content: "、";
        // }
      }
    }
  }
}
