@import "base";

#window {
  display: flex;
  flex-direction: row;
  background-color: $background-color;
  box-shadow: $slim-shadow-top;
  color: $color;
}

#controls-frame {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  * {
    border-right: 1px solid $border-color-dark;
  }
  #kanji-frame {
    position: relative;  // Allow anchoring svg diagram to this element
    border-right: 0;
  }
  svg#complete-kanji {
    border-right: 1px solid $border-color-dark;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    path {
      stroke: $color;
      stroke-width: 5;
      stroke-linecap: round;
      fill: transparent;
      &.highlighted {
        stroke: $select-background;
      }
    }
  }
  #kanji {
    font-size: 450%;
    text-shadow: -1px -1px 1px $color;
    padding: 15px;
    padding-bottom: 0;
    white-space: nowrap;
  }
  #added-label {
    flex: 1;
    padding: 5px;
    font-family: $header-font;
    color: $added-label-color;
    &:hover {
      text-shadow: 0 0 1px $added-label-shadow-color;
    }
  }
  #add-button {
    flex: 1;
    padding: 5px;
    font-family: $header-font;
    color: $add-button-color;
    &:hover {
      text-shadow: 0 0 1px $add-button-shadow-color;
      background: $view-hover-background;
    }
    &:active {
      background-color: $add-button-background-active;
    }
  }
  .control-button {
    font-family: $header-font;
    padding: 6px;
    display: block;
    border-right: 1px solid $border-color-dark;
    &:hover {
      background-color: $view-hover-background;
      border-top: 1px solid darken($view-hover-background, 10%);
      border-bottom: 1px solid darken($view-hover-background, 10%);
      padding: 5px;
    }
    &.selected {
      background-color: $background-color;
      border-top: 1px solid $border-color-dark;
      border-bottom: 1px solid $border-color-dark;
      padding: 5px;
      border-right: 1px solid transparent;
      &:last-child {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

#content-frame {
  flex: 1;
  position: relative;

  > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50px;  // Space for close button
  }
  #info-frame {
    display: flex;
    flex-direction: column;

    > div {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      &:first-child {
        margin-top: 10px;
      }
    }

    #meanings {
      font-size: 150%;
    }
    #details-frame {
      span {
        display: inline-block;
        font-size: 90%;
        padding-top: 3px;
        padding-bottom: 3px;
        color: $color-light;

        &:not(:first-child) {
          padding-left: 10px;
        }
        &:not(:last-child) {
          border-right: 1px solid transparent;
          border-image: $vertical-fading-border;
          padding-right: 10px;
        }
      }
    }
    .details-header {
      margin-right: 15px;
      font-family: $header-font;
    }
    .details-value {
      font-size: 120%;
    }
    #number-label {
      margin-right: 10px;
    }
    #number-details {
      color: $color-light;
      font-size: 90%;
    }
  }
  #strokes-frame {
    display: flex;
    flex-direction: column;

    #strokes-info-bar {
      padding-top: 5px;
      padding-bottom: 5px;
      .strokes-info-block {
        white-space: nowrap;
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
        .strokes-info-header {
          color: $color-light;
          font-family: $header-font;
          margin-right: 6px;
        }
        #stroke-count, #radical {
          font-size: 150%;
        }
        #kanji-parts {
          white-space: nowrap;
          span {
            @extend .kanji-info-link;
            font-size: 150%;
            padding: 3px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
        #radical {
          margin-right: 5px;
        }
      }
    }
    #stroke-graphics-frame {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow-y: auto;
      border: 2px solid $background-color-dark;
      background: $background-color-dark;

      #strokes-not-available-info {
        font-size: 150%;
        font-family: $light-font;
        margin-top: 30px;
      }
      #stroke-graphics {
        align-self: stretch;
        overflow-y: auto;

        svg {
          width: 89px;
          height: 89px;
          margin-right: 2px;
          // &:first-child { margin-top: 2px; }
          &:last-child { margin-right: 0px; };
          background-color: $kanji-strokes-background;
          display: inline-block;
          path {
            stroke: $kanji-strokes-color;
            stroke-width: 5;
            stroke-linecap: round;
            fill: transparent;
            &.last-stroke {
              stroke: $kanji-strokes-highlighted-color;
            }
            &.middle-marker {
              stroke: $kanji-strokes-middle-marker-color;
              stroke-width: 2;
              stroke-linecap: square;
              stroke-dasharray: 5;
            }
          }
          .brush-start {
            stroke-width: 0;
            fill: $kanji-strokes-brush-start-color;
            opacity: 0.6;
          }
        }
      }
    }
  }
  #examples-frame {
    display: flex;
    flex-direction: column;

    #example-words {
      flex: 1;
      background-color: $view-background;
      color: $view-color;
      border-top: 1px solid $border-color-dark;
      border-bottom: 1px solid $border-color-dark;
      > example-word-entry {
        border-bottom: 1px solid $border-color-light;
        &:last-child {
          border-bottom: 0;
        }
        &:nth-child(even) {
          background-color: $view-background-dark;
        }
      }
      overflow: auto;
    }
  }
}

#close-button {
  position: absolute;
  top: 8px;
  right: 12px;
  color: $close-button-color;
  font-size: 250%;
  opacity: 0.4;
  &:hover {
    opacity: 1;
  }
}
