@import "base";

#kanji-container {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
}

#control-bar {
  background-color: darkred;
  height: 50px;
}

#bottom {
  flex: 1;
  overflow: auto;

  #overview-window {
    // overflow: auto;
  }

  #search-results {
    // overflow
  }
}

dt {
  font-size: 130%;
  margin: 10px;
  margin-top: 18px;
  font-variant: small-caps;
}

dd {
  padding: 10px;
  margin-right: 28px;
  background: gainsboro;
  box-shadow: 0px 0px 2px darkred;
}

.kanji {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px;
  font-size: 140%;
  color: darkred;

  &.added {
    color: darkgrey;
  }

  &:hover {
    color: $select-color;
    background: lighten($select-background, 10%);
    border-radius: 3px;
  }

  &.selected {
    color: $select-color;
    background: $select-background;
    border-radius: 3px;
  }
}

.statistic-label {
  font-size: 60%;
  margin-left: 10px;
}
