@import "base";

:host {
  display: block;
}

#table {
  border-collapse: collapse;
  border-top: 1px solid $border-color-dark;
  padding: 10px;
  width: 100%;
}

thead tr {
  border-bottom: 1px solid $border-color-dark;

  th {
    padding: 6px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: normal;
    font-family: $header-font;
  }
}

tbody tr {
  padding: 4px;
  height: 40px;

  td {
    padding: 4px;
    color: $view-color;
    text-overflow: ellipsis;
    text-align: center;
    > * { margin: auto; }
  }

  &:hover {
    .remove-button, .hide-button {
      visibility: visible;
    }
  }

  &.hidden {
    > td:not(.hide-button-cell) {
      opacity: 0.5;
    }
    .hide-button{
      visibility: visible;
      opacity: 1;
      > i::before { content:"\f070" }
    }
  }
  &:not(:hover):not(.hidden) .hide-button {
    visibility: hidden;
    opacity: 0.4;
  }
  .remove-button, .hide-button {
    padding: 5px;
  }
  .hide-button {
    font-size: 140%;
  }
  .remove-button {
    visibility: hidden;
    font-size: 160%;
  }
}

#add-language-button {
  font-size: 120%;
  i {
    margin-right: 10px;
    font-size: 140%;
  }
}
