@import "base";

:host {
  display: block;
}

#table {
  border-collapse: collapse;
  border-top: 1px solid $border-color-dark;
  width: 100%;
}

thead tr {
  border-bottom: 1px solid $border-color-dark;

  th {
    padding: 4px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: normal;
    font-family: $header-font;
    white-space: nowrap;
  }
}

tbody tr {
  padding: 4px;
  height: 40px;

  .content-load-status-frame, .content-status-label-frame {
    @include center-content;

    .icon {
      @include center-content("vertical");
      margin-left: 5px;
      font-size: 120%;
      --tooltip-delay: .2s;

      > i {
        line-height: 1rem;  // Apply only to icon so as to not mess up tooltip
      }
    }
  }

  .content-status-label {
    display: inline-block;
    font-family: $header-font;
    &.button {
      @extend button.link;
      @extend button;
      font-size: 110%;
    }
    &.up-to-date {
      color: $color-positive;
    }
    &.error {
      color: $color-negative;
    }
  }

  .content-load-status-frame {
    margin-bottom: 3px;
  }

  .content-download-progress-frame {
    position: relative;
  }

  .content-download-progress-bar {
    width: 80px;
    height: 22px;
    &:not(:indeterminate) {
      appearance: none;
      &::-webkit-progress-inner-element {
        border: 1px solid $border-color-dark;
        border-radius: 4px;
        overflow: hidden;
      }
      &::-webkit-progress-bar {
        background-color: $view-background;
      }
      &::-webkit-progress-value {
        background-color: $highlight-background;
      }
    }
  }

  .content-download-progress-label {
    @include center-content;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-family: $small-font;
    font-size: 90%;
  }

  td {
    padding: 4px;
    text-overflow: ellipsis;
    text-align: center;
    > * { margin: auto; }
  }

  &:hover {
    .remove-button, .hide-button {
      visibility: visible;
    }
  }

  &.hidden {
    > td:not(.hide-button-cell) {
      opacity: 0.5;
    }
    .hide-button{
      visibility: visible;
      opacity: 1;
      > i::before { content:"\f070" }
    }
  }
  &:not(:hover):not(.hidden) .hide-button {
    visibility: hidden;
    opacity: 0.4;
  }
  .remove-button, .hide-button {
    padding: 5px;
  }
  .hide-button {
    font-size: 140%;
  }
  .remove-button {
    visibility: hidden;
    font-size: 160%;
  }
}

#button-frame {
  display: flex;
  flex-direction: row;
  font-size: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 8px;
}

#button-frame > button {
  display: flex;
  flex-direction: row;
  margin-right: 18px;

  &:hover {
    .icon::before, .icon::after {
      background-color: $button-light-icon-color-hover;
      box-shadow: 0 0 1px $button-light-color;
    }
  }
  .icon {
    @include plus-shape($color: $button-light-icon-color);
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  i {
    margin-right: 10px;
  }
}

.program-update-required-icon, .content-update-required-icon {
  color: $warning-icon-color;
}

.program-update-recommended-icon {
  color: $info-icon-color;
}

#last-content-status-update-time {
  color: $color-light;
  font-family: $small-font;
  font-size: 0.8rem;
  align-self: center;
}

#info-on-hiding-languages {
  --tooltip-width: 400px;
  --tooltip-whitespace: pre-line;
  display: inline-block;
  > i {
    width: 5px;  // Make it take up less space to squeeze it in
    color: $color-light;
  }
}

#content-update-error-label {
  font-family: $header-font;
  color: $color-negative;
  font-size: 1.2rem;
}
