@import "base";

:host {
  position: relative;
}

#label {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  transition: background-color 0.15s, color 0.15s;
  color: var(--label-color);
  transition: outline-color 0.1s;
  outline: 1px solid transparent;

  &:hover {
    background-color: var(--label-background-hover);
    color: var(--label-color-hover);
    outline-color: var(--outline-color-hover, transparent);
  }
}

:host(.open) #label {
  background-color: var(--label-background-hover);
  color: var(--label-color-hover);
}

#popup-window {
  position: absolute;
  display: none;
  left: 0;
  box-shadow: $popup-menu-shadow;
  display: table;

  > div {
    display: table-row;
    background-color: var(--menu-background);
    color: var(--menu-color);

    &:hover {
      background-color: var(--menu-background-hover);
      color: var(--menu-color-hover);
    }

    &.selected {
      background-color: var(--menu-background-selected);
      color: var(--menu-color-selected);
      > div:nth-child(2) {
        color: var(--menu-color-selected);
      }
    }

    > div {
      display: table-cell;
      text-align: center;
      padding: 8px;
      cursor: $pointer-cursor;

      &:nth-child(2) {
        border-left: 1px solid var(--menu-separator-color);
        color: transparent;

        &.highlight {
          color: var(--menu-color);
          text-shadow: var(--highlight-text-shadow, none);
        }
      }
    }
  }
}
