@import "base";

#label {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  transition: background-color 0.15s, color 0.15s;
  &:hover {
    background-color: $main-window-background-hover;
    color: $main-window-color-hover;
  }
}

:host(.open) #label {
  background-color: $main-window-background-hover;
  color: $main-window-color-hover;
}

#popup-window {
  position: absolute;
  display: none;
  left: 0;
  box-shadow: $popup-menu-shadow;
  display: table;

  > div {
    display: table-row;
    background-color: $button-background;

    &:hover {
      background-color: $button-background-hover;
      color: $button-color-hover;
    }

    > div {
      display: table-cell;
      text-align: center;
      color: $button-color;
      padding: 8px;

      &:nth-child(2) {
        border-left: 1px solid $button-border-color;
        color: transparent;

        &.highlight {
          color: $button-color;
          text-shadow: 0 0 1px $button-color;
        }
      }
    }
  }
}
