:root, :host {
  --link-location-display-layer: 800;
  --dragged-item-layer: 700;
  --overlay-layer: 600;
  --loading-window-layer: 500;

  // Widgets with overlay elements
  --tooltip-layer: 400;
  --popup-list-layer: 300;
  --popup-menu-layer: 200;
  --popup-stack-layer: 100;

  // Main window
  --selective-dimmer-layer: 52;
  --menu-bar-layer: 51;
  --side-bar-layer: 50;

  // Panels and sections
  --panel-layer: 40;
  --suggestion-pane-layer: 36;
  --closing-panel-layer: 32;
  --section-overlay-layer: 28;
  --kanji-info-panel-layer: 24;
  --dictionary-control-bar-layer: 20;
  --dictionary-search-info-bar-layer: 16;
  --kanji-control-bar-layer: 12;
  --section-layer: 0;
}
