:root, :host {
  --overlay-layer: 600;
  --loading-window-layer: 500;

  // Widgets with overlay elements
  --popup-list-layer: 300;
  --popup-menu-layer: 200;
  --popup-stack-layer: 100;

  // Main window
  --menu-bar-layer: 51;
  --footer-layer: 51;  // Needed? Remove footer?
  --side-bar-layer: 50;

  // Panels and sections
  --panel-layer: 5;
  --closing-panel-layer: 4;
  --section-overlay-layer: 3;
  --kanji-info-panel-layer: 2;
  --kanji-control-bar-layer: 1;
  --section-window-layer: 0;  // Needed?
}
