@import "base";

#window {
  @include center-content;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $loading-window-background;
  z-index: var(--loading-window-layer);
  cursor: $wait-cursor;

  #inner-frame {
    @include center-content;
    flex-direction: column;

    #status-text {
      color: $dark-contrast-color;
      font-size: 2rem;
      letter-spacing: 1px;
      font-family: $light-font;
      margin-bottom: 20px;
      // text-shadow: 0 0 1px $dark-contrast-shadow-color;
    }
    #spinner > div {
      background-color: $loading-window-color;
      width: 30px;
      height: 30px;
    }
    #spinner-frame {
      position: relative;
    }
    #status-details {
      top: calc(100% + 25px);
      left: 50%;
      width: 100vw;
      transform: translateX(-50%);
      position: absolute;
      color: $dark-contrast-color;
      font-size: 0.8rem;
      text-align: center;
      // text-shadow: 0 0 1px $dark-contrast-shadow-color;
    }
  }
}
