@import "base";

#window {
  @include center-content;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $loading-window-background;
  z-index: var(--loading-window-layer);
  cursor: $wait-cursor;

  #inner-frame {
    @include center-content;
    flex-direction: column;
    color: $loading-window-color;

    #spinner {
      margin-bottom: 25px;
    }
    #status-message {
      font-family: $header-font;
      font-variant: small-caps;
      font-size: 150%;
    }
  }
}
