@import "base";

#window {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  
  #bottom {
    flex: 1;
    // height: calc(100% - #{$menu-bar-height});
    display: flex;
    flex-direction: row;

    #section-frame {
      flex: 1;
    }
  }
}

#menu-bar {
  height: $menu-bar-height;
  display: flex;
  z-index: var(--menu-bar-layer);
  flex-direction: row;
  box-sizing: border-box;
  background-color: $main-window-background;
  color: $main-window-color;
  position: relative;

  #language-popup {
    --label-background-hover: $main-window-background-hover;
    --label-color-hover: $main-window-color-hover;
    --menu-background: $button-background;
    --menu-color: $button-color;
    --menu-background-hover: $button-background-hover;
    --menu-color-hover: $button-color-hover;
    --menu-separator-color: $button-border-color;
    --highlight-text-shadow: 0 0 1px var(--menu-color);
  }

  #menu {
    display: flex;
    flex-direction: row;

    > button {
      box-sizing: border-box;
      width: 45px;
      font-size: 140%;
      font-family: $light-font;
      transition: background-color 0.15s, color 0.15s, border-width 0.15s;
      border-left: 1px solid $main-window-border-color;
      --tooltip-delay: 0.5s;

      &:last-child {
        border-right: 1px solid $main-window-border-color;
        width: 47px;
      }
     
      &:hover {
        background: $main-window-background-hover;
        color: $main-window-color-hover;
        border-left: 6px solid $main-window-color;
      }
    }
  }

  #status-bar {
    @include center-content;
    flex: 1;

    #status-text {
      font-size: 120%;
      text-shadow: 0px 0px 1px $main-window-color;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  #notifications-button {
    width: 45px;
    font-size: 140%;
    border-left: 1px solid $main-window-border-color;
    --tooltip-delay: 0.5s;
    &:hover, &.selected {
      background: $main-window-background-hover;
      color: $main-window-color-hover;
    }
    &.highlighted {
      box-shadow: 0 0 15px 2px $highlight-background;
      background-color: $highlight-background;
      border-color: $highlight-background;
      text-shadow: 0 0 10px $highlight-color, 0 0 6px $highlight-color;
      color: $highlight-color;
      &:hover {
        $light-background: lighten($highlight-background, 15%);
        $light-color: lighten($highlight-color, 15%);
        box-shadow: 0 0 15px 2px $light-background;
        background-color: $light-background;
        border-color: $light-background;
        text-shadow: 0 0 10px $light-color, 0 0 6px $light-color;
        color: $light-color;
      }
    }
  }

  #notifications {
    position: absolute;
    right: 0;
    top: 100%;
    height: 250px;
    width: 400px;
    display: block;
    overflow: auto;

    &:empty {
      @include center-content;
      padding: 40px;
      &::after {
        content: "There are currently no notifications.";
        text-align: center;
        font-size: 1.5rem;
        font-family: $light-font;
        color: $color-light;
      }
    }

    > .notification {
      border-bottom: 1px solid $border-color-medium;
      padding: 8px;
      &.highlighted {
        background-color: $highlight-background-light;
      }
      // &:hover {
      //   background-color: $view-background-medium;
      // }
      .upper {
        display: flex;
        flex-direction: row;
      }
      .info-frame {
        flex: 1;
        padding-right: 8px;
        .title {
          font-weight: bold;
          font-family: $light-font;
          font-size: 1.2rem;
          margin-bottom: 8px;
        }
        .subtitle {
          font-family: $header-font;
        }
      }
      .action {
        @extend button.light, button.no-shadow;
        border-left: 1px solid $border-color-light;
        padding: 0;
        padding-left: 8px;
      }
      .details {
        padding-top: 10px;
        // white-space: pre-wrap;
        p {
          margin-top: 6px;
          margin-bottom: 6px;
        }
      }
    }
  }
}

#side-bar {
  width: $side-bar-width;
  display: flex;
  flex-direction: column;
  z-index: var(--side-bar-layer);
  background-color: $main-window-background;
  color: $main-window-color;
  border-top: 1px solid $main-window-border-color;

  > div {
    display: flex;
    flex-direction: column;
  }

  button {
    display: flex;
    flex-direction: column;
    font-family: $button-font;
    line-height: 140%;
    transition: background-color 0.1s linear, color 0.1s linear;
    &:hover {
      background-color: $main-window-background-hover;
      color: $main-window-color-hover;
    }
  }
  
  #top-buttons > button {
    border-bottom: 1px solid $main-window-border-color;
    font-size: 150%;
    padding-top: 8px;
    padding-bottom: 8px;

    &#test-button {
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: 220%;
      line-height: 100%;

      #num-srs-items {
        margin-top: 10px;
      }
      #num-srs-items, #num-srs-items+span {
        line-height: 120%;
        font-size: 60%;
        text-shadow: 0 0 1px $main-window-color;
        font-family: inherit;
      }
    }
  }

  #bottom-buttons > button {
    display: flex;
    flex-direction: row;
    border-top: 1px solid $main-window-border-color;
    padding-top: 2px;
    padding-bottom: 2px;
    > span {
      flex: 1;
      color: inherit;
      font-family: inherit;
    }
  }
}

#section-frame {
  background-color: $section-background;
  position: relative;
  contain: strict;
}

#filter {
  display: none;
  position: absolute;
  background-color: $panel-dim-background;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--section-overlay-layer);
  &.dark {
    background-color: $panel-dim-background-dark;
  }
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--section-layer);
  contain: strict;
}

.sliding-pane {
  width: $panel-width;
  position: absolute;
  left: -$panel-width;
  top: 0;
  bottom: 0;
  background-color: $background-color;
  z-index: var(--panel-layer);
}

.suggestion-pane {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: $panel-width;
  z-index: var(--suggestion-pane-layer);
}

#kanji-info-panel {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--kanji-info-panel-layer);
}
