@import "base";

body {
  display: flex;
  flex-direction: row;
  background-color: $view-background-dark;
}

#structure-tree-frame {
  min-width: 150px;
  width: 150px;
  max-width: 400px;
  resize: horizontal;
  overflow: auto;
  border-right: 1px solid $border-color-dark;
}

#structure-tree {
  height: 100%;
  box-sizing: border-box;
  padding-top: 10px;
  padding-right: 5px;
}

#notes-frame {
  overflow: auto;
  flex: 1;
  &:not(.ready-to-drag-note) .notes-container > * {
    cursor: $auto-cursor;
  }
  &.ready-to-drag-note .notes-container > * {
    cursor: $grab-cursor;
  }
}

.notes-container > * {
  position: relative;
  color: $view-color;
  border-bottom: 1px solid $border-color-medium;

  &:first-child {
    border-top: 1px solid $border-color-medium;
  }

  &.editing {
    border-top-color: $input-background-focus;
    border-bottom-color: $input-background-focus;
    background-color: $input-background-focus;
    box-shadow: $input-highlight-shadow;
    color: $input-color-focus;

    #control-buttons {
      display: none;
    }
    .note-content {
      white-space: pre-wrap;
    }
  }
}

.note-content {
  padding: 10px;
  outline: none;

  * {
    user-select: text;
  }

  > * {
    margin-top: 7px;
    margin-bottom: 7px;
  }
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  p {
    margin-left: 0px;
    margin-right: 0px;
  }
  ol, ul {
    padding-left: 25px;

    > li:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.highlight-top {
  box-shadow: 0 -2px 0 $highlight-background;
}
.highlight-bottom {
  border-bottom-color: transparent;
  box-shadow: 0 2px 0 $highlight-background;
}

#add-button {
  color: $color-light;
  display: block;
  width: 100%;
  text-align: left;
  position: relative;
  z-index: 1;

  i {
    margin-right: 10px;
  }
}

#control-buttons {
  background-color: $view-background-dark;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-left: 20px solid transparent;
  border-image: linear-gradient(to left, $view-background-dark, transparent);
  border-image-slice: 0 0 0 100%;
  background-clip: padding-box;

  > * {
    @extend button.light, button.no-shadow;
    padding: 0px;
    padding: 5px;
    font-size: 140%;
  }

  #move-button {
    cursor: $grab-cursor;
  }
}

#info-panel {
  padding-right: 20px;
}
