@import "base";

$button-bar-height: 30px;
$tree-frame-default-width: 160px;

body {
  display: flex;
  flex-direction: row;
  background-color: $view-background-dark;
}

#structure-tree-frame {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 140px;
  width: $tree-frame-default-width;
  max-width: 400px;
  resize: horizontal;
  border-right: 1px solid $border-color-dark;
  background-color: $view-background-dark;
}

#button-bar {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $border-color-light;
  margin-left: 8px;
  margin-right: 8px;
  height: $button-bar-height;

  > button {
    @extend .light;
    @extend .no-shadow;
    flex: 1;
    display: flex;
    flex-direction: row;
    width: calc(($tree-frame-default-width - 16px) / 3);
    text-align: center;
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 0;
    --tooltip-delay: 0.5s;
  }

  #search-groups-button {
    .fa-stack {
      margin-left: -7px;
      margin-top: 7px;
    }
    .fa-search {
      font-size: 1.1rem;
      transform: translate(3px, -6px);
    }
  }
  
  #search-notes-button {
    .fa-search {
      font-size: 1.1rem;
    }
    .fa-caret-right {
      transform: translate(-1px, -1px);
    }
  }
}

#search-groups-entry, #search-notes-entry {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $button-bar-height + 1px;
  width: 100%;
  padding-left: 6px;
  background-color: $view-background;
  color: $view-color;
  box-shadow: $slim-shadow-bottom;
  box-sizing: border-box;
}

#structure-tree {
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  padding-right: 5px;
  overflow: auto;
}

#notes-frame {
  overflow: auto;
  flex: 1;
  margin-bottom: -1px;  // Hide bottom border of last node
  background-color: $view-background-medium;

  // &:not(.ready-to-drag-note) .notes-container > * {
  //   cursor: $auto-cursor;
  // }
  &.ready-to-drag-note .note-content {
    cursor: $grab-cursor;
  }
  &::-webkit-scrollbar {
    width: $scrollbar-width + $scrollbar-padding;
    height: $scrollbar-width + $scrollbar-padding;
  }
  &::-webkit-scrollbar-thumb {
    border-left-width: 0px;
    border-left-color: transparent;
  }
}

.notes-container > * {
  &:first-child {
    border-top: 1px solid transparent;

    &:not(.location-label):not(.editing) {
      border-top-color: $border-color-medium;
    }
  }

  &.location-label {
    font-family: $small-font;
    color: $color-light;
    margin-left: 5px;
    padding-left: 18px;
    padding-top: 10px;
    margin-right: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color-medium;
    font-size: 90%;

    .separator::after {
      margin-right: 8px;
      margin-left: 8px;
      content: "\f105";
      font-family: FontAwesome;
    }
  }

  &.editing {
    border-bottom-color: $input-background-focus;
    background-color: $input-background-focus;
    box-shadow: $input-highlight-shadow;
    color: $input-color-focus;
    cursor: text;

    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;

    &:empty:before {
      content: "Enter note content";
      color: $color-light;
    }
  }
}

.highlight-top {
  box-shadow: 0 -2px 0 $highlight-shadow-color;
}
.highlight-bottom {
  border-bottom-color: transparent;
  box-shadow: 0 2px 0 $highlight-shadow-color;
}

#add-button {
  color: $color-light;
  display: block;
  width: 100%;
  text-align: left;
  position: relative;
  z-index: 1;

  i {
    margin-right: 10px;
  }
}

#info-panel {
  padding-right: 20px;
}

#no-search-results-info {
  @include center-content;
  background-color: transparent;
  font-size: 1.4rem;
}
