@import "base";

:host {
  display: none;
  position: fixed;
  width: 500px;
  background-color: $background-color;
  overflow: hidden;
  border-radius: 5px;
}

:host(:focus) {
  outline: none;
}

#sentinel:focus {
  outline: none;
}
