@import "base";

:host {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#wrapper {
  @include center-content;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  > .filter {
    position: fixed;
    background-color: $overlay-dim-background;
  }
}
