@import "base";

#window {
  width: 189px;
  height: 100px;
  display: flex;
  flex-direction: column;
  resize: both;
  box-sizing: border-box;
}

#text-div {
  flex: 1;
  color: $view-color;
  background-color: $view-background-dark;
  padding: 5px;
  resize: both;
  border: 1px solid $border-color-dark;
  overflow: auto;
  white-space: pre;
}

#edit-mode {
  flex: 1;
  flex-direction: column;
  display: flex;
  #text-entry {
    flex: 1;
  }
}

