@import "base";

:host {
  display: inline-block;
}

#window {
  background-color: $background-color;
  position: relative;
  box-shadow: $wide-shadow;
  margin: 20px;
  float: left;
  #content-frame {
    height: 100%;
  }
  #control-frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    opacity: 0.95;
    background-color: $background-color;
    color: $color;

    #widget-name {
      @include center-content;
      height: 30%;
      font: $light-font;
      font-style: bold;
      font-size: 140%;
    }
    #control-buttons {
      height: 70%;
      width: 100%;
      display: flex;
      flex-direction: row;
      #reposition-button {
        font-size:  300%;
        font: $light-font;
        font-style: bold;
        flex: 1;
      }
      #remove-button {
        font-size: 300%;
        font: $light-font;
        font-style: bold;
        flex: 1;
      }
    }
  }
}
