@import "base";

:host {
  max-width: calc(100% - #{$pinwall-base-margin} - #{$pinwall-item-margin-addition / 2});
  // width: 300px;
  // height: 100px;
}

#window {
  // display: flex;
  // flex-direction: row;
}

#text {
  height: 100px;
  width: 330px;
  // width: calc(100% - #{2 * $pinwall-base-margin} - #{$pinwall-item-margin-addition * 1.5});
  flex: 1;
  color: $view-color;
  background-color: $view-background-dark;
  padding: 5px;
  overflow: auto;
  white-space: pre-wrap;
  resize: both;
  user-select: text;

  &:focus {
    outline: none;
    box-shadow: $note-focus-shadow;
    background-color: $input-background-focus;
    color: $input-color-focus;
  }
}
