@import "base";

:host {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

#frame {
  position: relative;
  min-width: 10px;
  min-height: 10px;
  width: 100%;
  // TODO: Use this if vertical
  // height: 100%;
}

#shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 3px var(--shadow-color, gray);
}

::slotted(option) {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  padding: 0px;
  justify-content: center;
  align-items: center;
}
