@import "mixins";

:host {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  &[disabled] {
    --shadow-color: transparent;
  }
}

#frame {
  position: relative;
  min-width: 10px;
  min-height: 10px;
  width: 100%;
  height: 100%;
}

#shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 3px var(--shadow-color, gray);
}

::slotted(option) {
  @include center-content;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0px;
}
