@import "base";

:host {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

#container {
  position: relative;
  min-width: 10px;
  min-height: 10px;
  width: 100%;
  // height: 100%;
  // box-shadow: 0 0 3px dimgray;
}

span {
  font-family: $gui-font;
  font-size: 150%;
  background-color: var(--background-color, darkred);
  color: var(--color, whitesmoke);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--hover-background, firebrick);
    color: var(--hover-color, white);
  }
  &.selected {
    background-color: var(--select-background, crimson);
    color: var(--select-color, whitesmoke);
  }
}
