@import "base";

#label {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--label-background, lightgrey);
  color: var(--label-color, #303030);
  padding: var(--label-padding, 5px);
  transition: .15s;

  &:hover {
    background-color: var(--label-hover-background, lighten(lightgrey, 5%));
    color: var(--label-hover-color, #303030);
  }
}

#popup-window {
  position: absolute;
  display: none;
  left: 0;
  box-shadow: 1px 1px 6px #1a1a1a;
}

::slotted(option) {
  padding: 5px;
  text-align: center;
  cursor: pointer;
}
