@import "base";

#srs-table {
  background-color: $background-color;
  border-collapse: collapse;
  margin: 4px;

  tr {
    &:first-child > td {
      font-size: 110%;
      font-family: $header-font;
    }
    &:last-child > td {
      border-bottom: none;
    }
    td {
      padding: 5px;
      margin: 2px;
      text-align: center;
      color: $color;
      border-bottom: 1px solid $border-color-light;
      &:first-child {
        font-size: 110%;
        border-bottom: none;
        font-family: $header-font;
      }
      &.due {
        background-color: $highlight-background;
        color: $highlight-color;
      }
    }
  }
  #reload-srs {
    color: $reload-button-color;
    opacity: 0.6;
    font-size: 140%;
    &:hover {
      opacity: 1;
    }
  }
}
