@import "base";

:host {
  display: block;
  width: stretch;
}

#container {
  display: table;
  border-collapse: collapse;
  width: stretch;
  color: $view-color;
  background-color: $view-background-dark;
}

#header-row {
  display: table-row;
  border-bottom: 1px solid $border-color-dark;
  > * {
    display: table-cell;
  }
  #column-headers {
    display: flex;
    flex-direction: row;
    font-family: $header-font;
    font-size: 0.9rem;
    text-align: center;
    > * {
      padding-top: 4px;
      padding-bottom: 4px;
      flex: 1;
    }
  }
}

.row-frame {
  display: table-row;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color-medium;
  }
  .language-label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 1px;  // Only use as much space as needed
    padding-left: 10px;
    padding-right: 10px;
  }
  .subrows-frame {
    display: table-cell;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: $light-font;
  }
}

.subrow {
  display: flex;
  flex-direction: row;
  font-size: 1.25rem;

  > * {
    text-align: center;
    flex: 1;

    &.highlighted {
      color: $highlighted-text-color;
      text-shadow: $highlighted-text-shadow;
    }
    &:first-child {
      border-right: 1px solid $border-color-light;
      border-left: 1px solid $border-color-light;
    }
  }
}

.all-items {
  color: $color-light;
  font-size: 0.9rem;
  font-family: $text-font;
}

#updating-spinner, #update-button {
  display: table-cell;
  text-align: center;
}

#update-button {
  padding-top: 2px;  // Workaround to keep row height constant 
  opacity: 0.75;
  cursor: $pointer-cursor;
  font-size: 0.9rem;

  &:hover {
    opacity: 1;
  }
  i {
    margin-right: 6px;
  }
}

#updating-spinner > div {
  vertical-align: middle;
  width: 14px;
  height: 14px;
}
