@import "base";

:host {
  display: block;
  width: stretch;
}

#container {
  display: table;
  border-collapse: collapse;
  width: stretch;
  color: $view-color;
  background-color: $view-background-dark;
  border-radius: 5px;

  &.modifier-pressed {
    .subrow > div:not(:first-child):not(.selected),
    .language-label, #column-headers > div {
      &:hover {
        background-color: $view-hover-background;
        color: $view-color-hover;
      }
    }
    .subrow > div, .language-label, #column-headers > div {
      cursor: $pointer-cursor;
    }
  }
}

#header-row {
  display: table-row;
  border-bottom: 1px solid $border-color-dark;
  > * {
    display: table-cell;
  }
  #column-headers {
    display: flex;
    flex-direction: row;
    font-family: $header-font;
    font-size: 0.9rem;
    text-align: center;
    > * {
      padding-top: 5px;
      padding-bottom: 3px;
      flex: 1;

      // Add padding to keep same width as bordered row cells below
      &:first-child {
        padding-left: 1px;
        padding-right: 1px;
      }
    }
  }
}

.row-frame {
  display: table-row;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color-medium;
  }
  .language-label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 1px;  // Only use as much space as needed
    padding-left: 10px;
    padding-right: 10px;
  }
}

.subrow {
  display: table-cell;
  display: flex;
  flex-direction: row;

  > * {
    flex: 1;
    text-align: center;

    .total {
      pointer-events: none;
      color: $color-light;
      font-size: 0.9rem;
      font-family: $text-font;
    }
    .due {
      pointer-events: none;
      font-size: 1.25rem;
      font-family: $light-font;

      &.highlighted {
        color: $highlighted-text-color;
        text-shadow: $highlighted-text-shadow;
      }
    }
    &.selected {
      background-color: $select-background;

      .due.highlighted {
        color: $select-color;
      }
      .total {
        // TODO: put these into variables in each color scheme?
        color: lighten($select-background, 25%);
        text-shadow: darken($select-background, 15%);
      }
    }
    &:first-child {  // Shows total number of items for this language
      border-right: 1px solid $border-color-light;
      border-left: 1px solid $border-color-light;
      margin-top: 4px;
      margin-bottom: 4px;
    }
    &:not(:first-child) {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}

#updating-spinner, #update-button {
  display: table-cell;
  text-align: center;
}

#update-button {
  padding-top: 2px;  // Workaround to keep row height constant 
  opacity: 0.75;
  cursor: $pointer-cursor;
  font-size: 0.9rem;

  &:hover {
    opacity: 1;
  }
  i {
    margin-right: 6px;
  }
}

#updating-spinner > div {
  vertical-align: middle;
  width: 14px;
  height: 14px;
}
