@import "overlay";

:host {
  width: 550px;
}

#partitioned-window > #main-frame {
  min-height: 500px;
  display: flex;
  flex-direction: row;

  #schemes-list-frame {
    width: 160px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    #schemes-list-header-frame {
      display: flex;
      flex-direction: row;
      align-items: center;

      #schemes-list-header {
        flex-grow: 1;
        font-size: 150%;
        background-color: transparent;
      }
      #add-scheme-button {
        @extend button.light;
        @extend button.no-shadow;
        font-size: 150%;
        padding: 4px;
      }
    }
    #schemes-list {
      flex-grow: 1;
      border: 1px solid $border-color-light;

      > div {
        font-size: 1.1rem;
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
      }
    }
  }

  #scheme-frame {
    flex-grow: 1;
    @include center-content;
    flex-direction: column;
    margin-left: 10px;
    border-left: 1px solid $border-color-dark;
    padding-left: 10px;

    #choose-scheme-info {
      color: $color-light;
      font-size: 140%;
      font-family: $light-font;
      text-align: center;
    }
    #scheme-details-frame {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-self: stretch;

      #scheme-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;

        #scheme-name {
          border: 1px solid transparent;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        #scheme-name-input {
          @extend input.trench;
          padding: 0px;
          min-width: 1px;  // Stretch with flex
        }
        #scheme-name, #scheme-name-input {
          flex-grow: 1;
          font-size: 160%;
          font-family: $light-font;
          padding-left: 8px;
        }
        #scheme-buttons {
          > button {
            padding: 1px;
            @extend button.light;
            @extend button.no-shadow;
            font-size: 150%;
          }
          flex-shrink: 0;
        }
      }

      #scheme-description, #scheme-description-input {
        height: 64px;
        font-size: 15px;
        line-height: 16px;
        overflow: auto;
        padding: 3px;
        margin-bottom: 10px;
      }
      #scheme-description {
        border: 1px solid transparent;
      }
      #scheme-description-input {
        @extend input.trench;
      }

      #scheme-levels-frame {
        flex-grow: 1;

        #scheme-levels {
          overflow-y: auto;
        }
        #scheme-levels > div {
          @include fading-border($border-color-dark, "to right");
          border-width: 0px 0px 1px 0px;
          &:first-child {
            border-top-width: 1px;
          }
          display: flex;
          position: relative;
          flex-direction: row;

          counter-increment: level;
          &::before {
            @include center-content;
            content: counter(level);
            width: 60px;
            font-size: 150%;
            font-family: $light-font;
            border-right: 1px solid $border-color-light;
            padding-right: 8px;
          }
          > .interval {
            @include center-content("vertical");
            flex-grow: 1;
            padding-left: 15px;
          }
        }
      }
    }
  }


  .remove-level-button {
    font-size: 150%;
    display: none;
    position: absolute;
    right: 15px;
    // Workaround for vertical centering
    top: 0px;
    bottom: 0px;
    height: 26px;
    margin: auto;
    padding: 0;
  }

  #add-level-frame {
    display: none;
    margin-top: 10px;

    #add-level-input {
      // flex: 1;
      width: 200px;
    }
    #add-level-button {
      white-space: nowrap;
    }
  }

  #save-scheme-button, #cancel-edit-button,
  #scheme-name-input, #scheme-description-input {
    display: none;
  }

  #scheme-frame.edit-mode {

    #save-scheme-button, #cancel-edit-button {
      display: inline-block;
    }
    #scheme-name-input, #scheme-description-input {
      display: block;
    }
    #edit-scheme-button, #copy-scheme-button, #remove-scheme-button,
    #scheme-name, #scheme-description {
      display: none;
    }
    .remove-level-button {
      display: block;
    }
    #add-level-frame {
      display: flex;
      flex-direction: row;
    }
  }
}
