@import "base";

body {
  @extend .inverse-scrollbar;
  overflow: auto;
  background-color: $section-background;
}

.frame {
  background-color: $view-background-dark;
  color: $view-color;
  box-shadow: $slim-frame-shadow;
  margin: 10px;
}

#kanji-stats, #hanzi-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

#kanji-total-frame, #hanzi-total-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  text-align: center;
  border-right: 1px solid $border-color-medium;
  padding-left: 15px;
  padding-right: 30px;
  margin-right: 15px;
}

#kanji-label, #hanzi-label {
  font-size: 150%;
  font-family: $header-font;
  font-variant: small-caps;
}

.kanji-details-header {
  font-family: $header-font;
  margin-right: 15px;
}

.kanji-details-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  > div {
    flex: 1;
    text-align: center;
  }
}

#kanji-count, #hanzi-count {
  font-size: 200%;
  font-family: $light-font;
}

#kanji-stats-detailed, #hanzi-stats-detailed {
  flex: 1;
  .detail-label, .detail-total {
    font-family: $header-font;
  }
  .detail-label {
    color: $color;
    font-size: 0.8rem;
    margin-bottom: 5px;
  }
  .detail-total {
    color: $color-light;
    font-size: 0.8rem;
    margin-top: 3px;
  }
  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  > div:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color-medium;
    margin-bottom: 10px;
  }
}

#kanji-data-not-loaded, #hanzi-data-not-loaded {
  flex: 1;
  font-size: 0.9rem;
  color: $color-light;
  font-family: $small-font;
}
