svg {
  background-color: var(--background-color, transparent);
  width: 100%;
  height: 100%;

  rect.bar {
    stroke: var(--bar-border-color, dimgray);
    stroke-width: var(--bar-border-width, 1);
    fill: var(--bar-background, limegreen);
    &:hover {
      fill: var(--bar-background-hover, green);
    }
  }

  text.description-label {
    text-anchor: middle;
    font-size: var(--label-size, 80%);
    fill: var(--label-color, dimgray);
  }

  text.value-label {
    text-anchor: middle;
    font-size: var(--label-size, 80%);
    fill: var(--label-color, dimgray);
  }

  line#top-line {
    stroke: var(--top-line-color, dimgray);
  }

  line#bottom-line {
    stroke: var(--bottom-line-color, dimgray);
  }
}
