@import "mixins";

:host {
  @include center-content;
  background-color: lightgrey;
  color: grey;
  box-shadow: none;
  border: 1px solid grey;

  padding: 8px;
  transition: background .15s ease-out, color .15s ease-out,
              box-shadow .15s ease-out, border-color .15s ease-out;

}

:host(.pushed) {
  background-color: greenyellow;
  color: black;
  box-shadow: 0 0 10px greenyellow;
  border: 1px solid lime;
}
