@import "base";

$answer-input-width: 300px;
$answer-input-max-width: 500px;
$answer-input-font-size: 1.3rem;
$answer-input-padding: 5px;

$item-fade-in-timing: cubic-bezier(0.390, 0.575, 0.565, 1.000);  // Ease-out-sine
$item-fade-in-duration: .25;
$item-fade-in-distance: 25px;
$item-fade-in-delay: .08;

$item-fade-out-timing: cubic-bezier(0.390, 0.575, 0.565, 1.000);  // Ease-out-sine
$item-fade-out-duration: .23;
$item-fade-out-distance: 25px;

$solution-fade-distance: 10px;

$scroll-overflow-shadow-size: 25px;
$fade-color: var(--test-frame-fade-color);

:host {
  --test-frame-background: #{$test-section-background};
  --test-frame-fade-color: #{mix($test-section-background,
                                 $test-section-color, 80%)};
}
:host(.colored-background.word-meaning) {
  --test-frame-background: #{$test-section-item-type-word-meaning};
  --test-frame-fade-color: #{mix($test-section-item-type-word-meaning,
                                 $test-section-color, 80%)};
}
:host(.colored-background.word-reading) {
  --test-frame-background: #{$test-section-item-type-word-reading};
  --test-frame-fade-color: #{mix($test-section-item-type-word-reading,
                                 $test-section-color, 80%)};
}
:host(.colored-background.kanji-meaning) {
  --test-frame-background: #{$test-section-item-type-kanji-meaning};
  --test-frame-fade-color: #{mix($test-section-item-type-kanji-meaning,
                                 $test-section-color, 80%)};
}
:host(.colored-background.on-yomi) {
  --test-frame-background: #{$test-section-item-type-kanji-on-yomi};
  --test-frame-fade-color: #{mix($test-section-item-type-kanji-on-yomi,
                                 $test-section-color, 80%)};
}
:host(.colored-background.kun-yomi) {
  --test-frame-background: #{$test-section-item-type-kanji-kun-yomi};
  --test-frame-fade-color: #{mix($test-section-item-type-kanji-kun-yomi,
                                 $test-section-color, 80%)};
}
:host(.colored-background.hanzi-meaning) {
  --test-frame-background: #{$test-section-item-type-hanzi-meaning};
  --test-frame-fade-color: #{mix($test-section-item-type-hanzi-meaning,
                                 $test-section-color, 80%)};
}
:host(.colored-background.hanzi-reading) {
  --test-frame-background: #{$test-section-item-type-hanzi-reading};
  --test-frame-fade-color: #{mix($test-section-item-type-hanzi-reading,
                                 $test-section-color, 80%)};
}

body {
  display: flex;
  flex-direction: column;
}

#top {
  // NOTE: flexbox can produce subpixel dimensions whereas Velocity appears to
  // only work with full pixels, this can cause small glitches after animations
  // flex-grow: 1;
  height: 335px; // Leave enough space to at least fully display 3 solutions
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--test-frame-background);
  color: $test-section-color;
  align-items: center;
  padding-left: 12%;
  padding-right: 12%;

  &.animate, &.animate #new-level > option {
    // Timing function is ease-out-sine
    transition-property: background-color;
    transition-timing-function: $item-fade-in-timing;
    transition-duration: $item-fade-in-duration;
    transition-delay: $item-fade-in-delay;
  }
}

#bottom {
  // flex-grow: 6;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-color: var(--test-frame-background);

  &.animate {
    // Timing function is ease-out-sine
    transition-property: background-color;
    transition-timing-function: $item-fade-in-timing;
    transition-duration: $item-fade-in-duration;
    transition-delay: $item-fade-in-delay;
  }
}

#status {
  margin-top: 30px;
  color: $test-section-color;
  font-size: 120%;
  text-shadow: 1px 1px 0 $test-section-status-shadow-color;
  &.correct {
    color: $test-section-correct-color;
  }
  &.incorrect {
    color: $test-section-incorrect-color;
  }
}

#items {
  @include center-content;
  max-width: 600px;
  flex-direction: column;
  flex: 1;
  
  #test-item {
    color: $test-section-color;
    margin-bottom: 25px;
    text-align: center;

    &.serif { font-family: $serif-font; }

    &.small {
      font-size: 200%;
      text-shadow: 1px 1px 0 $test-section-test-item-shadow-color;
    }
    &.normal {
      font-size: 300%;
      text-shadow: 2px 2px 0 $test-section-test-item-shadow-color;
    }
    &.large {
      font-size: 400%;
      text-shadow: 3px 3px 0 $test-section-test-item-shadow-color;
    }
  }

  #solutions-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 0;

    %scroll-overflow-bar {
      position: absolute;
      left: -$solution-fade-distance;
      right: -$item-fade-out-distance;
      background-color: var(--test-frame-background);
      content: "";
      z-index: 2;
      transition-property: background-color;
      transition-timing-function: $item-fade-out-timing;
      transition-duration: $item-fade-out-duration;
    }
    &::before {
      @extend %scroll-overflow-bar;
      bottom: 100%;
      top: -$scroll-overflow-shadow-size;
    }
    &::after {
      @extend %scroll-overflow-bar;
      top: 100%;
      bottom: -$scroll-overflow-shadow-size;
    }
  }

  #solutions {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    z-index: 1;
    color: $test-section-color;
    font-size: 120%;

    div {
      text-align: center;
      padding-top: 3px;
      padding-bottom: 3px;
      line-height: 1.3;
    }

    %scroll-overflow-shadow {
      content: "";
      position: absolute;
      left: -$solution-fade-distance;
      right: $scrollbar-light-width;
      transition-property: background;
      transition-timing-function: $item-fade-out-timing;
      transition-duration: $item-fade-out-duration;
    }
    &::before {
      @extend %scroll-overflow-shadow;
      top: 0;
      height: var(--top-shadow-height, 0px);
      background: linear-gradient(
          to bottom, var(--test-frame-background), transparent);
    }
    &::after {
      @extend %scroll-overflow-shadow;
      bottom: 0;
      height: var(--bottom-shadow-height, 0px);
      background: linear-gradient(
          to top, var(--test-frame-background), transparent);
    }

    &.stretch-shadows {
      overflow: visible;
      &::before { 
        right: -$item-fade-in-distance;  // Or should it be fade-out-distance?
      }
      &::after { 
        right: -$item-fade-in-distance;  // Or should it be fade-out-distance?
      }
    }

    &.pinyin > * {
      font-family: $pinyin-font;
    }

    &::-webkit-scrollbar {
      width: 16px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 6px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-clip: padding-box;
      border: 4px solid transparent;
      background-color: $scrollbar-light-thumb-background;
      &:hover {
        background-color: $scrollbar-light-thumb-background-hover;
      }
      &:active {
        background-color: $scrollbar-light-thumb-background-active;
      }
    }
  }
}

#level-arrow {
  font-size: 1rem;
  &.correct {
    color: $test-section-correct-color;
  }
  &.incorrect {
    color: $test-section-incorrect-color;
  }
}

#new-level > option {
  font-size: 100%;
  font-family: $font;
  background-color: var(--test-frame-background);
  color: $test-section-color;
  border: 1px solid transparent;

  &:hover {
    border-color: $test-section-color;
  }
  &[selected] {
    border-color: $test-section-color-light;
    &:hover {
      border-color: $test-section-color;
    }
  }
}

#levels-frame {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  flex-direction: row;
  font-size: 140%;
  align-items: center;

  #old-level {
    display: inline-block;
    margin-right: 5px;
  }
  #new-level {
    width: 26px;
    height: 26px;
    margin-left: 5px;
  }
}

#score-frame {
  position: absolute;
  bottom: 10px;
  left: 15px;
  display: flex;
  flex-direction: column;
  align-items: left;

  #score {
    font-size: 140%;
    font-family: $light-font;
    opacity: 0.7;
    color: $test-section-color;
    margin-top: -10px;
  }
  #score-animation {
    font-size: 120%;
    font-family: $header-font;
    margin-left: -6px;

    &.positive { color: $test-section-correct-color; }
    &.negative { color: $test-section-incorrect-color; }
  }
}

#answer-entry {
  text-align: center;
  box-sizing: border-box;
  font-size: $answer-input-font-size;
  padding: $answer-input-padding;
  outline: none;
  cursor: $auto-cursor;
  min-width: $answer-input-width;
  max-width: $answer-input-max-width;

  &.pinyin {
    font-family: $pinyin-font;
  }
  &:focus::placeholder {
    color: transparent;
  }

  margin-top: 10px;
  color: $test-section-color;
  border-bottom: 1px solid $test-section-color-light;

  &:empty:not(:focus):before {
    cursor: text;
    content: "Enter your answer here";
    color: $test-section-color-medium;
  }
  &:empty:hover:not(:focus):before {
    color: $test-section-color;
  }
  &:focus:before {
    display: none;
  }
  &:hover, &:focus {
    border-color: $test-section-color;
  }
}

#continue-button, #show-solutions-button {
  @include fading-border($test-section-color-medium, "horizontal");
  box-sizing: border-box;
  width: 460px;
  padding: $answer-input-padding;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $button-font;
  font-size: $answer-input-font-size;
  border-bottom-width: 1px;
  margin-top: 0px;
  color: $test-section-color-medium;

  &:hover, &:focus {
    color: $test-section-color;
    border-color: $test-section-color;
    background-image: linear-gradient(
        to right, transparent, $fade-color, transparent);
    box-shadow: none;
  }
}

#show-solutions-button {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  border-top-width: 1px;
}

#evaluation-buttons {
  display: flex;
  flex-direction: row;
  border-top-width: 0;
  width: 460px;
  color: $test-section-color-medium;

  > button {
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: $button-font;
    font-size: $answer-input-font-size;

    &:focus {
      box-shadow: none;
    }
    &:hover, &:focus {
      color: $test-section-color;
      background-image: linear-gradient(
          to right, transparent, $fade-color, transparent);
      box-shadow: none;
    }
    &:not(:last-child) {
      border: 1px solid $test-section-color-medium;
      border-right-width: 1px;
    }
  }
}

#button-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 35px;
  width: 460px;
  border-top-width: 1px;
  @include fading-border($test-section-color-medium, "horizontal");

  button {
    @include center-content;
    @include fading-border(lighten($test-section-color-medium, 5%),"to bottom");
    // width: 190px;
    flex: 1;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center top;
    color: $test-section-color-medium;
    font-family: $button-font;
    &:not(:last-child) {
      border-right-width: 1px;
    }
    &:focus {
      box-shadow: none;
    }

    // Make button light up with gradient upon hovering
    &:not(:disabled):hover, &:not(:disabled):focus {
      color: $test-section-color;
      text-shadow: 0 0 0.5px $test-section-color-medium;
    }
    &:not(.flashcard-mode):not(:disabled):hover,
        &:not(.flashcard-mode):not(:disabled):focus {
      background-image: linear-gradient(to bottom,$fade-color,transparent 70%);
    }
    &:not(.flashcard-mode):not(:disabled):first-child:hover,
        &:not(.flashcard-mode):not(:disabled):first-child:focus {
      background-image: radial-gradient(ellipse at top right,
        $fade-color, transparent 65%);
    }
    &:not(.flashcard-mode):not(:disabled):last-child:hover,
        &:not(.flashcard-mode):not(:disabled):first-child:focus {
      background-image: radial-gradient(ellipse at top left,
        $fade-color, transparent 65%);
    }
    &.flashcard-mode:not(:disabled):hover,
        &.flashcard-mode:not(:disabled):focus {
      background-image: radial-gradient(ellipse at top,
        $fade-color, transparent 65%);
    }
    // &:disabled {
    //   color: $control-bar-disabled-color;
    //   &:hover {
    //     text-shadow: none;
    //     background-image: none;
    //   }
    // }
  }
}

#progress {
  width: 100%;
  height: 20px;
  appearance: none;
  border-top: 1px solid $test-section-color-light;

  &::-webkit-progress-bar {
    background-color: var(--test-frame-background);
  }
  &::-webkit-progress-value {
      background-color: $test-section-color-light;
  }
  &::-webkit-progress-inner-element {
    border: 0;
  }
}

#progress-text {
  @include center-content;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  font-family: $small-font;
  font-size: 90%;
}

#session-info-bar {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $test-section-color-light;
  font-size: 1.1rem;
  margin-bottom: 10px;

  > * {
    font-family: $header-font;
    margin-left: 15px;
    flex-shrink: 0;
  }
  > button {
    margin-right: 15px;
    &:hover {
      color: $test-section-color;
    }
  }
  #vocab-list {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

#button-bar, #evaluation-buttons {
  @include fading-border($test-section-color-medium, "horizontal");
  border-bottom-width: 1px;

  button {
    border-image: none;

    // Make button light up with gradient upon hovering
    &:not(.flashcard-mode):not(:disabled):hover,
        &:not(.flashcard-mode):not(:disabled):focus {
      background-color: $fade-color;
    }
    &:not(.flashcard-mode):not(:disabled):first-child:hover,
        &:not(.flashcard-mode):not(:disabled):first-child:focus {
      background-image: linear-gradient(to left,$fade-color,transparent 95%);
      background-color: transparent;
    }
    &:not(.flashcard-mode):not(:disabled):last-child:hover,
        &:not(.flashcard-mode):not(:disabled):last-child:focus {
      background-image: linear-gradient(to right,$fade-color,transparent 95%);
      background-color: transparent;
    }
    &.flashcard-mode:not(:disabled):hover,
        &.flashcard-mode:not(:disabled):focus {
      background-image: linear-gradient(
          to right, transparent 5%, $fade-color, transparent 95%);
      background-color: transparent;
    }
  }
}
