@import "base";

// Various sizes
$answer-input-width: 300px;
$answer-input-max-width: 500px;
$answer-input-font-size: 1.3rem;
$answer-input-padding: 5px;
$solution-fade-distance: 12px;
$scroll-overflow-shadow-size: 25px;

// Define animation for fading in next test item
$item-fade-in-timing: cubic-bezier(0.390, 0.575, 0.565, 1.000); // Ease-out-sine
$item-fade-in-duration: .25s;
$item-fade-in-distance: 25px;
$item-fade-in-delay: .08s;

// Define animation for fading out current test item
$item-fade-out-timing: cubic-bezier(0.390,0.575,0.565,1.000);  // Ease-out-sine
$item-fade-out-duration: .23s;
$item-fade-out-distance: 25px;

// General colors
$test-section-background: var(--background-color);
$test-section-color: var(--color);
$test-section-color-weak: var(--color-weak);
$test-section-color-weaker: var(--color-weaker);
$test-section-color-weakest: var(--color-weakest);
$test-section-hover-color: var(--hover-color);
$test-section-status-shadow-color: var(--status-shadow-color);
$test-section-test-item-shadow-color: var(--item-shadow-color);

// Greenish/reddish colors for highlighting something as correct or wrong
$test-section-color-wrong: var(--color-wrong);
$test-section-color-correct: var(--color-correct);
$test-section-color-wrong-weak: var(--color-wrong-weak);
$test-section-color-correct-weak: var(--color-correct-weak);
$test-section-background-color-wrong: var(--background-color-wrong);
$test-section-background-color-correct: var(--background-color-correct);
$test-section-background-color-wrong-strong: var(--background-wrong-strong);
$test-section-background-color-correct-strong: var(--background-correct-strong);

%scroll-overflow-bar {
  position: absolute;
  left: -$solution-fade-distance;
  right: -$item-fade-out-distance;
  background-color: $test-section-background;
  content: "";
  transition-property: background-color;
  transition-timing-function: $item-fade-out-timing;
  transition-duration: $item-fade-out-duration;
}

%scroll-overflow-shadow {
  content: "";
  position: absolute;
  left: -$solution-fade-distance;
  right: $scrollbar-light-width;
  transition-property: background;
  transition-timing-function: $item-fade-out-timing;
  transition-duration: $item-fade-out-duration;
}

body {
  display: flex;
  flex-direction: column;
}

#top {
  flex-grow: 1;
  flex-shrink: 0;
  min-height: 320px; // Leave enough space to at least fully display 4 solutions
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $test-section-background;
  color: $test-section-color;
  align-items: center;
  padding-left: 12%;
  padding-right: 12%;

  &.animate, &.animate #new-level > option, &.animate #notes-wrapper,
      &.animate #button-bar {
    // Timing function is ease-out-sine
    transition-property: background-color;
    transition-timing-function: $item-fade-in-timing;
    transition-duration: $item-fade-in-duration;
    transition-delay: $item-fade-in-delay;
  }

  // Set backgrounds so that solutions don't overlap when fading in
  &.animate #notes-wrapper, &.animate #button-bar {
    background-color: $test-section-background;
  }
}

#bottom {
  min-height: 103px;  // Prevents top part from expanding and ruining animations
  flex-grow: 2;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-color: $test-section-background;

  &.animate {
    // Timing function is ease-out-sine
    transition-property: background-color;
    transition-timing-function: $item-fade-in-timing;
    transition-duration: $item-fade-in-duration;
    transition-delay: $item-fade-in-delay;
  }
}

#status {
  margin-top: 30px;
  color: $test-section-color;
  font-size: 120%;
  text-shadow: 1px 1px 0 $test-section-status-shadow-color;
  &.correct {
    color: $test-section-color-correct;
  }
  &.incorrect {
    color: $test-section-color-wrong;
  }
}

#items {
  @include center-content;
  max-width: 600px;
  flex-direction: column;
  flex: 1;
  
  #test-item {
    color: $test-section-color;
    margin-bottom: 25px;
    text-align: center;
    font-family: $vocab-font;

    &.serif { font-family: $serif-font; }

    &.small {
      font-size: 2rem;
      text-shadow: 1px 1px 0 $test-section-test-item-shadow-color;
    }
    &.normal {
      font-size: 3rem;
      text-shadow: 2px 2px 0 $test-section-test-item-shadow-color;
    }
    &.large {
      font-size: 4rem;
      text-shadow: 3px 3px 0 $test-section-test-item-shadow-color;
    }
  }

  #solutions-wrapper, #notes-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;

    // &::before {
    //   @extend %scroll-overflow-bar;
    //   bottom: 100%;
    //   top: -$scroll-overflow-shadow-size;
    // }
    // &::after {
    //   @extend %scroll-overflow-bar;
    //   top: 100%;
    //   bottom: -$scroll-overflow-shadow-size;
    // }
  }

  #solutions, #notes {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 1;
    overflow-y: auto;

    color: $test-section-color;
    font-size: 120%;
    font-family: $vocab-font;

    div {
      text-align: center;  // Despite `align-items: center` needed for multiline
      padding-top: 3px;
      padding-bottom: 3px;
      line-height: 1.3;
    }

    &::-webkit-scrollbar {
      width: 16px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 6px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-clip: padding-box;
      border: 4px solid transparent;
      background-color: $scrollbar-light-thumb-background;
      &:hover {
        background-color: $scrollbar-light-thumb-background-hover;
      }
      &:active {
        background-color: $scrollbar-light-thumb-background-active;
      }
    }

    // &::before {
    //   @extend %scroll-overflow-shadow;
    //   top: 0;
    //   height: var(--top-shadow-height, 0px);
    //   background: linear-gradient(
    //       to bottom, $test-section-background, transparent);
    // }
    // &::after {
    //   @extend %scroll-overflow-shadow;
    //   bottom: 0;
    //   height: var(--bottom-shadow-height, 0px);
    //   background: linear-gradient(
    //       to top, $test-section-background, transparent);
    // }

    // &.stretch-shadows {
    //   overflow: visible;
    //   &::before { 
    //     right: -$item-fade-in-distance;  // Or should it be fade-out-distance?
    //   }
    //   &::after { 
    //     right: -$item-fade-in-distance;  // Or should it be fade-out-distance?
    //   }
    // }
  }

  #notes {
    @include fading-border($test-section-color-weakest, "horizontal");
    border-top-width: 1px;
    border-bottom-width: 0;

    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    color: $test-section-color-weak;

    > div {
      line-height: 1.2rem;
    }
  }

  #notes-wrapper {
    min-height: 46px;
  }

  #solutions {
    &.pinyin > * {
      font-family: $pinyin-font;
    }
  }
}

#level-arrow {
  font-size: 1rem;
  &.correct {
    color: $test-section-color-correct;
  }
  &.incorrect {
    color: $test-section-color-wrong;
  }
}

#new-level > option {
  font-size: 100%;
  background-color: $test-section-background;
  color: $test-section-color;
  border: 1px solid transparent;
  border-radius: 5px;
  font-family: $text-font;

  &:hover {
    border-color: $test-section-color;
  }
  &[selected] {
    border-color: $test-section-color-weakest;
    &:hover {
      border-color: $test-section-color;
    }
  }
}

#levels-frame {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  flex-direction: row;
  font-size: 140%;
  align-items: center;

  #old-level {
    display: inline-block;
    margin-right: 5px;
  }
  #new-level {
    width: 26px;
    height: 26px;
    margin-left: 5px;
    --shadow-color: transparent;
  }
}

#score-frame {
  position: relative;
  margin-left: 30px;

  #score {
    margin-left: 5px;
  }
  #score-animation {
    position: absolute;
    right: -6px;  // Try to center element (works less well for larger scores)
    bottom: 0;
    font-size: 120%;
    font-family: $header-font;
    &.positive { color: $test-section-color-correct; }
    &.negative { color: $test-section-color-wrong; }
  }
}

#answer-entry {
  text-align: center;
  box-sizing: border-box;
  font-size: $answer-input-font-size;
  line-height: $answer-input-font-size;  // Disregard padding in font glyphs
  padding: $answer-input-padding;
  outline: none;
  cursor: $auto-cursor;
  min-width: $answer-input-width;
  max-width: $answer-input-max-width;
  font-family: $vocab-font;

  &.pinyin {
    font-family: $pinyin-font;
  }
  &:focus::placeholder {
    color: transparent;
  }

  margin-top: 11px;  // Stack with bottom border of continue-button
  color: $test-section-color;
  border-bottom: 1px solid $test-section-color-weakest;

  &:empty:not(:focus):before {
    cursor: text;
    content: "Enter your answer here";
    color: $test-section-color-weak;
  }
  &:empty:hover:not(:focus):before {
    color: $test-section-color;
  }
  &:focus:before {
    display: none;
  }
  &:hover, &:focus {
    border-color: $test-section-color;
  }
}

#continue-button, #show-solutions-button {
  @include fading-border($test-section-color-weak, "horizontal");
  border-top-width: 1px;
  border-bottom-width: 1px;

  box-sizing: border-box;
  width: 460px;
  padding: $answer-input-padding;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $button-font;
  font-size: $answer-input-font-size;
  margin-top: 0px;
  color: $test-section-color-weak;

  &:hover {
    color: $test-section-color;
    border-color: $test-section-color;
    background-image: linear-gradient(
        to right, transparent, $test-section-hover-color, transparent);
  }

  &:focus {
    box-shadow: none;
  }
}

#evaluation-buttons {
  @include fading-border($test-section-color-weak, "horizontal");
  border-top-width: 1px;
  border-bottom-width: 1px;

  display: flex;
  flex-direction: row;
  width: 460px;
  color: $test-section-color-weak;

  > button {
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: $button-font;
    font-size: $answer-input-font-size;

    &:focus {
      box-shadow: none;
    }
    &:hover, &:focus {
      color: $test-section-color;
    }
    &:not(:last-child) {
      border-right-width: 1px;
      border-right-style: solid;
    }
  }
}

#evaluation-button-wrong {
  &::first-letter {
    border-bottom: 1px solid $test-section-color;
  }
  &:hover, &:focus, &.highlighted {
    background-image: linear-gradient(
        to left, $test-section-background-color-wrong-strong, transparent 95%);
    text-shadow: 0 0 1px $test-section-color-wrong;
  }
}

#evaluation-button-correct {
  &::first-letter {
    border-bottom: 1px solid $test-section-color;
  }
  &:hover, &:focus, &.highlighted {
    background-image: linear-gradient(
        to right,$test-section-background-color-correct-strong,transparent 95%);
    text-shadow: 0 0 1px $test-section-color-correct;
  }
}

#button-bar {
  @include fading-border($test-section-color-weak, "horizontal");
  border-top-width: 1px;
  border-bottom-width: 0px;

  position: relative;
  display: flex;
  flex-direction: row;
  height: 35px;
  width: 460px;
  @include fading-border($test-section-color-weak, "horizontal");

  button {
    @include center-content;
    flex: 1;
    color: $test-section-color-weak;
    font-family: $button-font;

    &:not(:last-child) {
      border-right-width: 1px;
      border-right-style: solid;
    }
    &:focus {
      box-shadow: none;
    }

    // Make text light up upon hovering
    &:hover, &:focus {
      color: $test-section-color;
      text-shadow: 0 0 0.5px $test-section-color-weaker;
    }

    // Make background light up upon hovering, use gradient if it's first/last
    &:not(.flashcard-mode) {
      &:not(:first-child):not(:last-child) {
        &:hover, &:focus {
          background-color: $test-section-hover-color;
        }
      }
      &:first-child:hover, &:first-child:focus {
        background-image: linear-gradient(
            to left, $test-section-hover-color, transparent 95%);
      }
      &:last-child:hover, &:last-child:focus {
        background-image: linear-gradient(
            to right, $test-section-hover-color, transparent 95%);
      }
    }

    // In flashcard mode, there's just a single button, so fade to both sides
    &.flashcard-mode {
      &:hover, &:focus {
        background-image: linear-gradient(
            to right,transparent 5%,$test-section-hover-color,transparent 95%);
      }
    }
  }
}

#progress {
  width: 100%;
  height: 5px;
  appearance: none;

  &::-webkit-progress-bar {
    background-color: transparent;
  }
  &::-webkit-progress-value {
      background-color: $test-section-color-weakest;
  }
  &::-webkit-progress-inner-element {
    border: 0;
  }
}

#session-info-bar {
  align-self: stretch;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $test-section-color-weakest;
  font-size: 1.1rem;
  margin-bottom: 10px;

  > * {
    font-family: $header-font;
    margin-left: 15px;
    flex-shrink: 0;
  }
  > button {
    margin-right: 15px;
    &:hover {
      color: $test-section-color;
    }
  }
  #vocab-list {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

#srs-levels-bar {
  @include fading-border($test-section-color-weaker, "horizontal");
  border-bottom-width: 1px;
  border-top-width: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  color: $test-section-color-weaker;
  font-size: 1.2rem;
  --tooltip-speed: 0s;

  > button {
    display: flex;  // Needed to center css-tooltip
    width: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: $light-font;

    &:hover {
      background-color: $test-section-hover-color;
    }

    // Transparent placeholder for border
    border-left: 1px solid transparent;
    &:last-child {
      border-right: 1px solid transparent;
    }

    &.next-if-correct {
      background-color: $test-section-background-color-correct;
      color: $test-section-color;

      border-left: 1px solid $test-section-color-correct-weak;
      + button {
        border-left: 1px solid $test-section-color-correct-weak;
      }
      &:last-child {
        border-right: 1px solid $test-section-color-correct-weak;
      }

      &:hover {
        background-color: $test-section-background-color-correct-strong;
      }
    }

    &.next-if-wrong {
      background-color: $test-section-background-color-wrong;
      color: $test-section-color;

      border-left: 1px solid $test-section-color-wrong-weak;
      + button {
        border-left: 1px solid $test-section-color-wrong-weak;
      }
      &:last-child {
        border-right: 1px solid $test-section-color-wrong-weak;
      }

      &:hover {
        background-color: $test-section-background-color-wrong-strong;
      }
    }

    &.selected {
      background-color: $test-section-color-weakest;
      color: white;
      text-shadow: 0 0 1px $test-section-background;

      border-left: 1px solid $test-section-color-weak !important;
      + button {
        border-left: 1px solid $test-section-color-weak;
      }
      &:last-child {
        border-right: 1px solid $test-section-color-weak;
      }

      &:hover {
        background-color: $test-section-color-weakest;
      }
    }
  }
}
