@import "base";

#partitioned-window {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: auto;

  > :not(:last-child) {
    margin-bottom: 20px;
  }
}

#show-progress {
  margin-right: 10px;
}
