@import "base";

#tabs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  > button {
    border-bottom: 1px solid $border-color-dark;
  }
}

#words-tab {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-bottom: -100px; // Workaround for strange bug where pane exceeds parent
                         // size by a few pixel. Also happens in other tab-panes
}

#kanji-tab, #hanzi-tab {
  display: flex;
  flex-direction: column;
}

#kanji-frame, #hanzi-frame {
  flex: 1;
}

#kanji, #hanzi {
  font-size: 2rem;
  > * {
    display: inline-block;
    padding: 6px;
    line-height: 2rem;
  }
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $background-color;

  &:not(:first-child) {
    border-left: 1px solid $border-color-dark;
  }
}

.list-frame {
  flex: 1;
  display: flex;
  flex-direction: column;

  .list-view {
    flex: 1;
    font-family: $vocab-font;

    &.dragover {
      background-color: $view-hover-background;
    }
    > * {
      cursor: $pointer-cursor;
      // By increasing line-height instead of padding, letters like g don't
      // get cut off
      padding: 0;
      padding-left: 5px;
      padding-right: 2px;  // Scrollbar will also provide padding (if it exists)
      line-height: calc(1rem + 8px);
    }
  }
}

.info-frame {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex: 1;
  font-size: 150%;
  font-family: $light-font;
  line-height: 140%;
  padding: 10px;
}

.dragover {
  background-color: $view-hover-background;
  box-shadow: 0 0 4px $view-hover-background;
  
  &.selected {
    background-color: mix($view-hover-background, $view-select-background, 50%);
  }
}

.already-in-list {
  color: $view-color-greyed-out;
}

.search-entry-frame {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $border-color-dark;
 
  .search-entry-subframe {
    flex: 1;
    display: flex;
    flex-direction: row;

    &:not(:first-child) {
      border-left: 1px solid $border-color-dark;
    }
  }

  .search-entry {
    @extend input.light;
    width: 1px;
    flex: 1;
    padding-left: 10px;
    font-family: $vocab-font;
  }

  .search-button {
    @extend button.light;
    @extend button.no-shadow;
    padding: 8px;
    font-size: 120%;
  }
}

#vocab-lists > * {
  display: flex;
  flex-direction: row;

  &.edit-mode {
    position: relative;
    background-color: $input-background-focus;
    box-shadow: $input-highlight-shadow;
    z-index: 1;  // Make shadow go above other items
    border-radius: 5px;
    
    > .amount-words {
      display: none;
    }
  }
  &:not(.edit-mode) > .list-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  > .list-name {
    flex: 1;
    &[contenteditable]:focus {
      outline: none;
      color: $view-edit-color;

      &:empty:before {
        content: "Enter name for list";
        color: $color-light;
      }
    }
  }

  > .amount-words {
    @include center-content;
    margin-right: 2px;
    margin-left: 8px;
    font-family: $header-font;
    color: $color-light;
  }

  &.selected > .amount-words {
    color: $view-select-color;
  }
}

#vocab-lists-button-frame {
  display: flex;
  flex-direction:row;
  border-top: 1px solid $border-color-light;

  button {
    @extend button.light;
    flex: 1;
    padding: 4px;

    i {
      font-size: 140%;
    }
    &:not(:first-child) {
      border-left: 1px solid $border-color-light;
    }
  }
}

#test-on-list-button {
  @extend button.light;
  padding: 4px;
  font-size: 140%;
  border-top: 1px solid $border-color-light;
}

// Remove rounded borders from items in the middle of multiple selections
// (requires a bunch of code controlling the .last-selected class)
#vocab, #vocab-lists, #list-contents {
  > * {
    border-radius: 0;
    &:not(.selected):hover {
      border-radius: 5px;
    }
    // Last item in selection range must have rounded bottom borders
    // (would not need any JS if there was a previous-sibling selector)
    &:last-child, &.last-selected {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    // First item in selection range must have rounded top borders
    &:first-child, &:not(.selected) + .selected {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}
