#main-header {
  font-size: 600%;
  margin-bottom: 90px;
  text-align: center;
}

#coming-soon {
  font-size: 220%;
  font-family: Questrial, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}
