#nav-bar {
  height: 50px;
  background-color: darkred;
  display: flex;
  flex-direction: row;
  color: whitesmoke;

  > * {
    border-right: 1px solid whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Questrial, sans-serif;

    &:hover {
      background-color: firebrick;
    }
  }

  * {
    color: inherit;
    font-size: 1.4rem;
    user-select: none;
  }

  .fa {
    font-size: 2.5rem;
  }
}
