
$is-dark-scheme: false;

// =============================================================================
//   Primary colors
// =============================================================================

// General
$background-color: whitesmoke;
$background-color-dark: gainsboro;
$background-color-medium: mix($background-color, $background-color-dark, 50%);
$color: #303030;
$color-light: dimgray;
$color-lightest: grey;
$color-dark: black;
$border-color-light: darken($background-color, 20%);
$border-color-medium: darkgrey;
$border-color-dark: grey;
$border-color-darkest: dimgray;
$shadow-color: black;

// Maximum contrast
$contrast-color: black;
$contrast-shadow-color: white;
$dark-contrast-color: #ccc;
$dark-contrast-shadow-color: $contrast-color;

// Light button
$button-light-color: $color-light;
$button-light-color-hover: $color;
$button-light-icon-color: #999;
$button-light-icon-color-lightest: #bbb;
$button-light-icon-color-hover: $color-light;
$button-light-shadow-color-active: lighten($button-light-color, 30%);

// Views
$view-color: $color;
$view-color-hover: black;
$view-color-edit: black;
$view-color-greyed-out: darkgrey;
$view-background: darken(white, 1.5%);
$view-background-medium: darken(white, 2.5%);
$view-background-dark: darken(white, 5%);

// Inputs
$input-background: $view-background-dark;
$input-background-hover: $view-background-medium;
$input-background-focus: $view-background;
$input-background-invalid: mix($input-background, crimson, 80%);
$input-color: $color;
$input-color-hover: $view-color-hover;
$input-color-focus: $view-color-edit;
$input-color-placeholder: darken($input-background, 40%);
$input-border-color: $border-color-medium;
$input-border-color-hover: $border-color-dark;

// Icon colors
$color-negative: crimson;
$color-positive: green;
$close-button-color: lightcoral;
$warning-icon-color: coral;
$info-icon-color: cornflowerblue;  // slateblue

// "Add" button, "Added" label
$added-label-color: darken(limegreen, 20%);
$added-label-shadow-color: lawngreen;
$add-button-color: darkred;
$add-button-shadow-color: coral;

// =============================================================================
//   Secondary colors
// =============================================================================

// General highlight / select
$select-background: lighten(firebrick, 15%);
$select-color: white;
$highlighted-text-color: darken(crimson, 8%);
$highlighted-text-shadow-color: lighten(crimson, 40%);
$highlight-shadow-color: crimson;
$input-border-color-focus: crimson;

// List views
$view-hover-background: peachpuff;
$view-select-color: $select-color;
$view-select-background: $select-background;
$view-select-background-hover: $view-select-background;

// Panel views
$item-view-background: $view-background-medium;
$item-view-color: $view-color;
$item-view-border-color: $border-color-medium;
$item-view-hover-background: lighten(peachpuff, 6%);
$item-view-hover-color: $view-color-hover;
$item-view-hover-border-color: darken($view-hover-background, 25%);
$item-view-edit-background: #fde8ec;
$item-view-edit-color: $view-color-edit;
$item-view-edit-border-color: $input-border-color-focus;

// Local links (to open another section/panel/overlay)
$link-color: lighten(darkred, 5%);
$link-color-hover: darkred;
$link-shadow-color-hover: lighten(lightsalmon, 10%);

// HTTP links
$http-link-color: #b03636;
$http-link-color-hover: $http-link-color;

// Element with a tooltip
$info-color: $link-color;

// Progress bar
$progress-bar-fill-color: crimson;

// Tooltips
$tooltip-background: darkred;
$tooltip-color: white;
$tooltip-shadow-color: white;

// Scrollbar
$scrollbar-thumb-background: lighten(lightcoral, 5%);
$scrollbar-thumb-background-hover: darken($scrollbar-thumb-background, 8%);
$scrollbar-thumb-background-active: darken($scrollbar-thumb-background, 16%);
$scrollbar-light-thumb-background: rgba(255, 255, 255, 0.5);
$scrollbar-light-thumb-background-hover: rgba(255, 255, 255, 0.7);
$scrollbar-light-thumb-background-active: rgba(255, 255, 255, 0.9);

// =============================================================================
//   Main window colors
// =============================================================================

// Main window
$main-window-background: darkred;
$main-window-background-light: firebrick;
$main-window-background-hover: mix($main-window-background, crimson, 40%);
$main-window-background-lightest: lighten($main-window-background-light, 6%);
$main-window-color: #ddd;
$main-window-color-light: whitesmoke;
$main-window-color-lightest: lighten($main-window-color, 6%);
$main-window-color-hover: $main-window-color;
$main-window-border-color: grey;
$main-window-border-color-hover: $main-window-color;

// Panel buttons
$button-color: $main-window-color-light;
$button-color-hover: $main-window-color-light;
$button-color-active: $main-window-color-light;
$button-color-selected: lighten($button-color, 12%);
$button-background: $main-window-background-light;
$button-background-hover: $main-window-background-lightest;
$button-background-active: lighten($button-background, 6%);
$button-background-selected: lighten($button-background, 12%);
$button-border-color: darken($button-background, 6%);
$button-shadow-color-active: darken($button-background-active, 10%);

// Notifications button
$notifications-button-highlight-background: lighten(crimson, 10%);
$notifications-button-highlight-color: white;

// Test button
$test-button-background-highlighted: darken($select-background, 8%);
$test-button-background-highlighted-hover:
  mix($test-button-background-highlighted, crimson, 20%);

// Loading window
$loading-window-background: maroon;
$loading-window-color: whitesmoke;

// Sections
$section-background: lightcoral;
$section-color: #303030;
$section-content-shadow-color: darkred;

// Background dimming
$panel-dim-background: rgba(0, 0, 0, 0.6);
$panel-dim-background-dark: rgba(0, 0, 0, 0.9);
$overlay-dim-background: rgba(0, 0, 0, 0.7);

// Suggestion window
$suggestions-window-color: rgba(255, 255, 255, 0.9);
$suggestion-background: rgba(255, 255, 255, 0.7);
$suggestion-background-hover: rgba(255, 255, 255, 0.85);
$suggestion-background-selected: whitesmoke;
$suggestion-color: black;
$suggestion-color-hover: black;
$suggestion-color-selected: $color;
$suggestion-group-selector-hover-background: rgba(255, 255, 255, 0.35);

// =============================================================================
//   Specific colors
// =============================================================================

// Dictionary 
$dictionary-frequent-words-background: #e0ffb3;
$dictionary-frequent-words-border-color:
  darken($dictionary-frequent-words-background, 45%);
$dictionary-frequent-words-color: $color;

$dictionary-semi-frequent-words-background:
  lighten($dictionary-frequent-words-background, 8%);
$dictionary-semi-frequent-words-border-color:
  $dictionary-frequent-words-border-color;
$dictionary-semi-frequent-words-color: $color;

$dictionary-male-name-background: #E1F3FE;  // shade of 'lightskyblue'
$dictionary-female-name-background: #FFF0F3;  // shade of 'lightpink'
$dictionary-place-name-background: #EDE1D1;  // shade of 'tan'
$dictionary-surname-background: #F0E0F7;  // shade of 'darkorchid'

$mandarin-tone-1-color: rgba(darken(red, 5%), 0.9);
$mandarin-tone-2-color: darkgoldenrod;
$mandarin-tone-3-color: #00a000;
$mandarin-tone-4-color: royalblue;

$mandarin-tone-1-color-hover: $mandarin-tone-1-color;
$mandarin-tone-2-color-hover: $mandarin-tone-2-color;
$mandarin-tone-3-color-hover: $mandarin-tone-3-color;
$mandarin-tone-4-color-hover: $mandarin-tone-4-color;

$dictionary-net-rank-color: mediumpurple;
$dictionary-net-rank-color-weak: lavender;

// Kanji stroke SVGs
$kanji-strokes-color: #888;
$kanji-strokes-color-highlighted: black;
$kanji-strokes-background: $view-background;
$kanji-strokes-middle-marker-color: #e5e5e5;
$kanji-strokes-brush-start-color: red;

// Migrate SRS overlay
$migrate-srs-arrow-color: $border-color-dark;
$migrate-srs-connector-color: $border-color-medium;
$migrate-srs-connector-color-hover: $border-color-dark;

// Diagrams
$diagram-graphics-color: mix($main-window-background,
                             $main-window-color-light, 60%);
$diagram-graphics-color-hover: mix($main-window-background,
                                   $main-window-color-light, 80%);
$diagram-label-color: $color;
$diagram-bar-opacity: 0.9;

