
$is-dark-scheme: true;

// =============================================================================
//   Base colors
// =============================================================================

$fg-dark: #657b83;  // Base 00 (not used in dark mode)
$fg-darkest: #586e75;  // Base 01 (for comments/secondary content in dark mode)
$fg-light: #839496;  // Base 0 (not used in light mode)
$fg-lightest: #93a1a1;  // Base 1 (for comments/secondary content in light mode)

$bg-light: #fdf6e3;  // Base 3
$bg-light-darker: #eee8d5;  // Base 2
$bg-dark: #002b36;  // Base 03
$bg-dark-lighter: #073642;  // Base 02

$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;

$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;

$secondary-color: lighten($cyan, 12%);

// =============================================================================
//   Primary colors
// =============================================================================

// General
$background-color: mix($bg-dark, $bg-dark-lighter, 50%);
$background-color-dark: mix(strengthen($bg-dark-lighter, 3%), black, 94%);
$background-color-medium: mix($background-color, $background-color-dark, 50%);
$color: strengthen($fg-lightest, 5%);
$color-light: strengthen($fg-darkest, 6%); // mix($fg-darkest, $fg-light, 25%);
$color-lightest: $fg-darkest;
$color-dark: strengthen($color, 15%);
$border-color-light: desaturate(strengthen($background-color, 10%), 6%);
$border-color-medium: weaken($color-light, 10%);
$border-color-dark: weaken($color-light, 2%);
$border-color-darkest: $color-light;
$shadow-color: grey;

// Maximum contrast
$contrast-color: black;
$contrast-shadow-color: white;
$dark-contrast-color: #b0b0b0;
$dark-contrast-shadow-color: black;

// Light button
$button-light-color: strengthen($color-light, 5%);
$button-light-color-hover: $color;
$button-light-icon-color: weaken($color-light, 5%);
$button-light-icon-color-lightest: weaken($color-light, 15%);
$button-light-icon-color-hover: strengthen($color-light, 5%);
$button-light-shadow-color-active: weaken($button-light-color, 10%);

// Views
$view-color: strengthen($fg-lightest, 2%);
$view-color-hover: $color-dark;
$view-color-edit: mix($color-dark, $color, 40%);
$view-color-greyed-out: weaken($color-lightest, 3%);
$view-background: $bg-dark;
$view-background-medium: mix($bg-dark, $bg-dark-lighter, 80%);
$view-background-dark: mix($bg-dark, $bg-dark-lighter, 50%);

// Inputs
$input-background: mix($bg-dark, $bg-dark-lighter, 60%);
$input-background-hover: mix($bg-dark, $bg-dark-lighter, 80%);
$input-background-focus: $view-background;
$input-background-invalid: mix($input-background, $red, 80%);
$input-color: $color;
$input-color-hover: mix($color-dark, $color, 40%);
$input-color-focus: $view-color-edit;
$input-color-placeholder: $color-light;
$input-border-color: $border-color-medium;
$input-border-color-hover: $border-color-dark;

// Icon colors
$color-negative: $orange;
$color-positive: strengthen($green, 5%);
$close-button-color: $color-light;
$warning-icon-color: weaken($orange, 20%);
$info-icon-color: weaken($blue, 10%);

// "Add" button, "Added" label
$added-label-color: $green;
$added-label-shadow-color: weaken($added-label-color, 15%);
$add-button-color: $orange;
$add-button-shadow-color: weaken($add-button-color, 35%);

// =============================================================================
//   Secondary colors
// =============================================================================

// General highlight / select
$select-color: #e0e0e0;
$select-background: mix($secondary-color, $view-background, 35%);
$highlighted-text-color: mix($secondary-color, $color, 80%);
$highlighted-text-shadow-color: black;
$highlight-shadow-color: $highlighted-text-color;
$input-border-color-focus: weaken($secondary-color, 8%);

// List views
$view-hover-background: rgba($secondary-color, 0.14);
$view-select-color: $select-color;
$view-select-background: $select-background;
$view-select-background-hover: $view-select-background;

// Panel views
$item-view-background: $view-background-medium;
$item-view-color: $view-color;
$item-view-border-color: $border-color-medium;
$item-view-hover-background: $view-background;
$item-view-hover-color: $input-color-hover;
$item-view-hover-border-color: $border-color-darkest;
$item-view-edit-background: $view-background;
$item-view-edit-color: $view-color-edit;
$item-view-edit-border-color: $input-border-color-focus;

// Local links (to open another section/panel/overlay)
$link-color: darken(saturate($secondary-color, 25%), 6%);
$link-color-hover: strengthen($link-color, 15%);
$link-shadow-color-hover: weaken($link-color, 35%);

// HTTP links
$http-link-color: $link-color;  // #b03636;
$http-link-color-hover: $link-color-hover;

// Element with a tooltip
$info-color: $link-color;

// Progress bar
$progress-bar-fill-color: $secondary-color;

// Scrollbar
$scrollbar-thumb-background: rgba($secondary-color, 0.28);
$scrollbar-thumb-background-hover: rgba($secondary-color, 0.42);
$scrollbar-thumb-background-active: rgba($secondary-color, 0.56);

// Light scrollbar
$scrollbar-light-thumb-background: rgba(255, 255, 255, 0.5);
$scrollbar-light-thumb-background-hover: rgba(255, 255, 255, 0.7);
$scrollbar-light-thumb-background-active: rgba(255, 255, 255, 0.9);

// =============================================================================
//   Main window colors
// =============================================================================

// Main window
$main-window-background: lighten($bg-dark, 3%);  // darken($fg-darkest, 20%);  // lighten($bg-dark, 3%);
$main-window-background-hover: lighten($main-window-background, 5%);
$main-window-background-light: lighten($main-window-background, 5%);
$main-window-background-lightest: lighten($main-window-background-light, 5%);
$main-window-color: weaken($fg-light, 2%);
$main-window-color-light: lighten($main-window-color, 10%);
$main-window-color-lightest: lighten($main-window-color-light, 5%);
$main-window-color-hover: $main-window-color-lightest;
$main-window-border-color: $border-color-darkest;
$main-window-border-color-hover: $main-window-color-light;

// Notifications button
$notifications-button-highlight-background: lighten($orange, 15%);
$notifications-button-highlight-color: white;

// Test button
$test-button-background-highlighted: darken($select-background, 2%);
$test-button-color-highlighted: mix($select-background, $select-color, 30%);

// Panel buttons
$button-color: $main-window-color-light;
$button-color-hover: $main-window-color-hover;
$button-color-active: $button-color-hover;
$button-color-selected: lighten($button-color, 22%);
$button-background: $background-color-dark;
$button-background-hover: lighten($button-background, 4%);
$button-background-active: $button-background-hover;
$button-background-selected: lighten($button-background, 8%);
$button-border-color: lighten($button-background, 6%);
$button-shadow-color-active: lighten($button-background-active, 12%);

// Loading window
$loading-window-background: $main-window-background;
$loading-window-color: strengthen($main-window-color, 15%);

// Sections
$section-background: lighten($bg-dark-lighter, 3%);
$section-color: strengthen($fg-light, 3%);
$section-content-shadow-color: $color;
$section-scrollbar-color: rgba(white, 0.22);
$section-scrollbar-color-hover: rgba(white, 0.36);
$section-scrollbar-color-active: rgba(white, 0.5);

// Tooltips
$tooltip-background: $main-window-background;
$tooltip-color: $color;
$tooltip-shadow-color: $color;

// Background dimming
$panel-dim-background: rgba(mix($bg-dark-lighter, black, 30%), 0.6);
$panel-dim-background-dark: rgba(mix($bg-dark-lighter, black, 40%), 0.9);
$overlay-dim-background: rgba(black, 0.7);

// Suggestion window
$suggestions-window-color: $color;
$suggestion-background: $view-background;
$suggestion-background-hover: mix($secondary-color, $view-background, 10%);
$suggestion-background-selected: mix($secondary-color, $view-background, 22%);
$suggestion-color: $color;
$suggestion-color-hover: mix($color, $color-dark, 60%);
$suggestion-color-selected: $color-dark;
$suggestion-border-color: lighten($suggestion-background, 3%);
$suggestion-border-color-hover: lighten($suggestion-background, 6%);
$suggestion-border-color-selected: lighten($suggestion-background-selected, 8%);
$suggestion-group-selector-hover-background:
  rgba(lighten($secondary-color, 20%), 0.2); 

// =============================================================================
//   Specific colors
// =============================================================================

// Dictionary 
$dictionary-frequent-words-base: darken($green, 6%);

$dictionary-frequent-words-background: rgba(0, 32, 0, 0.3);
  // mix($view-background, $dictionary-frequent-words-base, 86%);
$dictionary-frequent-words-border-color: rgba(green, 0.4);
  // mix($dictionary-frequent-words-base, $border-color-dark, 25%);
$dictionary-frequent-words-color: weaken($color, 3%);

$dictionary-semi-frequent-words-background: rgba(0, 32, 0, 0.16);
  // mix($view-background, $dictionary-frequent-words-base, 94%);
$dictionary-semi-frequent-words-border-color: rgba(green, 0.38);
  // mix($dictionary-frequent-words-base, $border-color-medium, 25%);
$dictionary-semi-frequent-words-color: weaken($color, 1.5%);

$dictionary-male-name-background: rgba(desaturate(midnightblue, 25%), 0.6);
$dictionary-female-name-background: rgba(mediumvioletred, 0.28);
$dictionary-place-name-background: rgba(sienna, 0.35);
$dictionary-surname-background: rgba(darkgoldenrod, 0.20);

// Kanji stroke SVGs
$kanji-strokes-color: $color-lightest;
$kanji-strokes-color-highlighted: $color-dark;
$kanji-strokes-background: $view-background;
$kanji-strokes-middle-marker-color: $border-color-light;
$kanji-strokes-brush-start-color: $red;

// Migrate SRS overlay
$migrate-srs-arrow-color: $border-color-dark;
$migrate-srs-connector-color: $border-color-medium;
$migrate-srs-connector-color-hover: $border-color-dark;

// Diagrams
$diagram-graphics-color: mix($main-window-background,
                             $main-window-color-light, 60%);
$diagram-graphics-color-hover: mix($main-window-background,
                                   $main-window-color-light, 80%);
$diagram-label-color: $color;
$diagram-bar-opacity: 0.75;

$kanji-overview-color: desaturate($secondary-color, 14%);
$kanji-overview-color-hover: lighten($kanji-overview-color, 20%);
