@import "../base";

div {
  padding: 3px;
  background-color: var(--background-color, dimgray);
  display: none;
  position: fixed;
  box-shadow: 3px 3px 5px #1a1a1a;
}

.item {
  display: block;
  padding: 4px;
  color: var(--color, whitesmoke);

  &:hover {
    background-color: var(--hover-background, gray);
    color: var(--hover-color, white);
  }
}

.separator {
  display: block;

  hr {
    border: 0px;
    height: 1px;
    background-image: linear-gradient(to left, var(--background-color, dimgray),
                                               var(--color, whitesmoke),
                                               var(--background-color, dimgray));
    margin-top: 3px;
    margin-bottom: 3px;
  }
}
