@import "../base";

#label {
  @extend .button;
  background-color: darkred;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .15s;
  padding: 12px;

  &:hover {
    background-color: crimson;
  }
}

#popup-window {
  position: absolute;
  display: none;
  // top: 55px;
  left: 0;

  .item {
    background-color: darkred;
    color: white;
    text-align: center;
    padding: 8px;
    &:hover {
      background-color: crimson;
    }
  }
  // box-shadow: 3px 3px 5px #1a1a1a;
  box-shadow: 0px 0px 6px #1a1a1a;
  z-index: 100000;
}
