<div class="notification">
  <div class="upper">
    <div class="info-frame">
      <div class="title">{{{title}}}</div>
      <div class="subtitle">{{{subtitle}}}</div>
    </div>
    {{#if buttonLabel.length}}
       <button class="action">{{{buttonLabel}}}</button>
    {{/if}}
  </div>
  <div class="details">{{{details}}}</div>
</div>
