<tr {{#if settings.hidden}}class="hidden"{{/if}}>
  <td>{{language}}</td>
  <td>{{settings.secondary}}</td>
  <td>
    <check-box class="readings-checkbox"
     {{#if settings.readings}}checked{{/if}}></check-box>
  </td>
  <td><button class="scheme-button light no-shadow">{{settings.srs.scheme}}</button></td>
  {{#if interactiveMode}}
    <td></td>
    <td><check-box class="default-language-checkbox radio-button-style"
         {{#if default}}checked{{/if}}></check-box></td>
  {{/if}}
  <td class="hide-button-cell"><button class="hide-button light no-shadow"><i class="fa fa-eye"></i></button></td>
  <td><button class="remove-button red-icon"><i class="fa fa-remove"></i></button></td>
</tr>
