<tr>
  <td>{{language}}</td>
  <td>{{settings.secondary}}</td>
  <td>
    <check-box {{#if settings.readings}}checked{{/if}}></check-box>
  </td>
  <td>{{settings.srs.scheme}}</td>
  <td><span class="remove-button"><i class="fa fa-remove"></i></span></td>
</tr>
