<tr>
  <td>{{language}}</td>
  <td>{{settings.secondary}}</td>
  <td>
    <input type="checkbox" {{#if settings.readings}}checked{{/if}}></input>
  </td>
  <td><span class="remove-button"><i class="fa fa-remove"></i></span></td>
</tr>
